<extend name="Public/base"/>
<block name="container">
    <div class="main">
        <div class="main-title">
            <h2>退款客服驳回</h2>
        </div>
        <form action="{}" method="post" class="form-horizontal">
            <input type="hidden" name="id" value="{$_GET[id]}">
            <div class="form-item">
                <label class="item-label">驳回意见</span></label>
                <div class="controls">
                    <!--<input type="text" class="text input-large" name="kefu_info" value="" style="width:500px;">-->
                    <textarea name="kefu_info" style="width:500px;height:200px;"></textarea>
                </div>
            </div>
            <input type="hidden" name="type" value="1">                        <br>
            <div class="form-item">
                <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            </div>
        </form>
    </div>
</block>
<block name="js">

</block>
