<extend name="Public/base"/>
<block name="container">
    <table class="table table-bordered">
        <colgroup>
            <col width="20%"/>
            <col width="80%"/>
        </colgroup>
        <tbody>
        <tr>
            <td>订单号码</td>
            <td>{$info.order_id}</td>
        </tr>
        <tr>
            <td>购买时间</td>
            <td>{$info.addtime|date="Y-m-d H:i:s",###}</td>
        </tr>
        <tr>
            <td>收件人</td>
            <td>{$info.shr_name}</td>
        </tr>
        <tr>
            <td>联系电话</td>
            <td>{$info.shr_tel}</td>
        </tr>
        <tr>
            <td>收货地址</td>
            <td>{$info.shr_address}</td>
        </tr>
        <tr>
            <td>总价</td>
            <td>{$info.total_price}</td>
        </tr>
        <tr>
            <td>订单状态</td>
            <td><if condition="$info['order_status'] eq 0">
                <span class="label label-warning">未付款</span>
                <elseif condition="$info['order_status'] eq 1"/>
                <span class="label label-primary">待发货</span>
                <elseif condition="$info['order_status'] eq 3"/>
                <span class="label label-primary">配送中</span>
                <elseif condition="$info['order_status'] eq 4"/>
                <span class="label label-primary">已收货</span>
                <elseif condition="$info['order_status'] eq 5"/>
                <span class="label label-primary">已取消</span>
            </if></td>
        </tr>
        <tr>
            <td>商品详情</td>
            <td>
                <foreach name="order_list" item="vo">
                    <p>商品名称:{$vo.goods_name}</p>
                    <p>数量:{$vo.goods_number}</p>
                    <p>单价:{$vo.goods_price}</p>
                    <p>
                        <img src="__ROOT__/{$vo.goods_thumb}" alt="" style="height: 50px;">
                    </p>
                </foreach>
            </td>
        </tr>
        </tbody>
    </table>
    <span onclick="history.back(-1);" class="btn btn-default">返回订单</span>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>
    <script>
        $(function(){
            var status=$('#status').val();
            $('.order_select_list').removeClass('order_select');
            $('#'+status).addClass('order_select');
        })
        $(function(){
            var winH = $(window).height();
            $('.body_left_bg').css('height',Number(winH)+Number(250));
        })
    </script>
    <script type="text/javascript" src="__PUBLIC__/date/laydate.dev.js"></script>
    <script type="text/javascript">
        laydate({
            elem: '#date1'
        });
        laydate({
            elem: '#date2'
        });
    </script>

</block>
