<extend name="Public/base"/>
<block name="container">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{:U('Merchant/editor')}">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="hidden" name="id" value="{$v.id}"/>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border:1px solid #eeeeee;">
                <div class="row">
                    <div class="form-group shop_info">
                        <label class="col-lg-3 control-label">logo:</label>
                        <div class="col-lg-1">
                            <div class="fileInput left">
                                <input type="file" name="header_logo" id="upload" class="upfile uplo" />
                                <input class="upFileBtn uplo" type="button" value="上传图片" onclick="document.getElementById('upload').click()" />
                            </div>
                        </div>
                        <div class="col-lg-8 height-center text-danger" id="show_img">
                            <img src="/{$v.header_logo}" alt="" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">名称:</label>
                        <div class="col-lg-4">
                            <input type="text"  class="form-control" name="name" value="{$v.name}" required>
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">电话:</label>
                        <div class="col-lg-4">
                            <input type="text"  class="form-control" name="phone" value="{$v.phone}" required>
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">密码:</label>
                        <div class="col-lg-4">
                            <input type="text"  class="form-control" name="pwd" placeholder="不填为">
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">性别:</label>
                        <div class="col-lg-4">
                            <input type="radio" name="sex" value="1" <if condition="$v.sex eq 1">checked</if>  style="margin-top: 10px;">男
                            <input type="radio" name="sex" value="2" <if condition="$v.sex eq 2">checked</if> style="margin-top: 10px;">女
                            <input type="radio" name="sex" value="0" <if condition="$v.sex eq 0">checked</if> style="margin-top: 10px;">保密
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group ">
                        <label class="col-lg-3 control-label">昵称</label>
                        <div class="col-lg-4">
                            <input type="text"  class="form-control" value="{$v.nickname}" name="nickname">
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ">
                        <label class="col-lg-3 control-label">个性签名</label>
                        <div class="col-lg-4">
                            <input type="text"  class="form-control" value="{$v.sign}" name="sign">
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ">
                        <label class="col-lg-3 control-label">状态</label>
                        <div class="col-lg-4">
                            <input type="radio"  name="status" value="1" <if condition="$v.status eq 1">checked</if> style="margin-top: 10px;">正常
                            <input type="radio" name="status" value="0" <if condition="$v.status eq 0">checked</if> style="margin-top: 10px;">冻结
                        </div>
                        <span class="col-lg-5 height-center text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        <button class="btn btn-sm btn-success" id="btn" type="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</block>
<block name="js">

    <script src="__PUBLIC__/script/bootstrap.min.js"></script>
    <script src="__PUBLIC__/script/lrz.bundle.js?v=a1a6749"></script>
    <script src="__PUBLIC__/script/index.js?v=27ce5f7"></script>
    <script src="__PUBLIC__/script/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kind/themes/default/default.css" />
    <link rel="stylesheet" href="__PUBLIC__/kind/plugins/code/prettify.css" />
    <script charset="utf-8" src="__PUBLIC__/kind/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kind/lang/zh_CN.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kind/plugins/code/prettify.js"></script>
    <script>
        KindEditor.ready(function(K) {
            var editor1 = K.create('textarea[name="goods_desc"]', {
                cssPath : '__PUBLIC__/kind/plugins/code/prettify.css',
                uploadJson : '__PUBLIC__/kind/php/upload_json.php',
                fileManagerJson : '__PUBLIC__/kind/php/file_manager_json.php',
                allowFileManager : true,
                afterCreate : function() {
                    var self = this;
                    K.ctrl(document, 13, function() {
                        self.sync();
                        K('form[name=example]')[0].submit();
                    });
                    K.ctrl(self.edit.doc, 13, function() {
                        self.sync();
                        K('form[name=example]')[0].submit();
                    });
                }
            });
            prettyPrint();
        });
    </script>
    <script>




        $('.uplo').click(function(){
            $('#show_img').html('');
        })
        $('.up').click(function(){
            $('#showImg').html('');
        })

        $(function(){
            var winH = $(window).height();
            $('.body_left_bg').css('height',Number(winH)+Number(250));
        })
    </script>

</block>
