<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>我的关注</title>

    <link href="__PUBLIC__/sick/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/sick/css/doctor_follower.css"/>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <volist name="list" id="vo">
            <div class="follower_content fl">
                <div class="doctor_img lf">
                    <img src="{$vo.icon}" class="img-responsive img-circle" alt=""/>
                </div>
                <div class="doctor_names lf">
                    {$vo.username}
                </div>
            </div>
            </volist>
        </div>
    </div>
</div>
<script src="__PUBLIC__/sick/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/sick/js/bootstrap.js"></script>

</body>

</html>