<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>预约就诊设置</title>

    <link href="__PUBLIC__/sick/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/sick/css/Free_consultation_fit.css"/>
    <link rel="stylesheet" href="__PUBLIC__/sick/css/lc_switch.css"/>
    <style>
        .lcs_switch{
            height: 25px;
        }
        .lcs_cursor{
            width: 18px;
            height: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="__SELF__" method="post">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 br">
            <div class="text fl">
                <div class="text_left lf">预约就诊</div>
                <div class="text_right rt">
                    <p>
                        <if condition="$info['is_open'] eq 1">
                                <input id="off01" type="checkbox" name="is_open" value="1" class="lcs_check" autocomplete="off" checked />
                            <else />
                                <input id="off01" type="checkbox" name="is_open" value="2" class="lcs_check" autocomplete="off" />
                        </if>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 money">
            <div class="text fl">
                <div class="text_left lf">请选择价格</div>
                <div class="text_right rt">
                    <input type="text" value="{$info.price}" class="select" placeholder="请输入价格" style="text-align:right" name="price">元
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 br">
            <a href="time_set_up.html">
                <div class="text fl">
                    <div class="text_left lf">设置预约时间</div>
                    <div class="text_right rt fl">
                        <div class="set_up lf">未设置</div>
                        <div class="right_img lf">
                            <img src="__PUBLIC__/sick/img/right.png" class="img-responsive" alt=""/>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    </form>
    <button class="button" id="tijiao">保存</button>
</div>
<script src="__PUBLIC__/sick/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/sick/js/bootstrap.js"></script>
<script src="__PUBLIC__/sick/js/lc_switch.min.js"></script>
<script>
    $(document).ready(function(e) {
//        console.log($("input[type='checkbox']").is(':checked'))
        $('input').lc_switch();
        // triggered each time a field changes status
        $('body').delegate('.lcs_check', 'lcs-statuschange', function() {
            var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
        });

        // triggered each time a field is checked
        $('body').delegate('.lcs_check', 'lcs-on', function() {
            $("#off01").val(1);
//            console.log('field is checked');
        });
        // triggered each time a is unchecked
        $('body').delegate('.lcs_check', 'lcs-off', function() {
            $("#off01").val(2);
//            console.log('field is unchecked');
        });

        $('.text').click(function(){
           $(this).find('.select').focus();
        });

        $("#tijiao").click(function(){
            $("form:first").submit();
        });
    });
</script>

</body>

</html>