<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>咨询历史</title>

    <link href="__PUBLIC__/sick/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/sick/css/img_consult.css"/>
</head>

<body>
<div class="container">
    <!-- 服务历史-->
    <div class="row bj">
        <div class="col-md-12 col-sm-12 col-xs-12 img_txt_content">
            <div class="img_txt lf">
                <img src="__PUBLIC__/sick/img/images-text.png" class="img-responsive" alt=""/>
            </div>
            <div class="txt_content lf">图文咨询</div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content_tx">
            <span class="department">男科</span>|<span class="classfiy">图文咨询</span>|<span class="doctor_names">黄海昌</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="time fl">
                <div class="time_number lf">2016-03-22 23:39:56</div>
            </div>
            <a href="propose.html">
                <div class="look_over">查看第三方意见...</div>
            </a>
        </div>
    </div>
    <div class="row bj">
        <div class="col-md-12 col-sm-12 col-xs-12 img_txt_content">
            <div class="img_txt lf">
                <img src="__PUBLIC__/sick/img/images-text.png" class="img-responsive" alt=""/>
            </div>
            <div class="txt_content lf">预约就诊</div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content_tx">
            <span class="department">男科</span>|<span class="classfiy">图文咨询</span>|<span class="doctor_names">黄海昌</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="time fl">
                <div class="time_number lf">2016-03-22 23:39:56</div>
            </div>
            <a href="propose.html">
                <div class="look_over">查看第三方意见...</div>
            </a>

        </div>
    </div>


</div>
<script src="__PUBLIC__/sick/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/sick/js/bootstrap.js"></script>

</body>

</html>