<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>预约就诊</title>

    <link href="__PUBLIC__/sick/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/sick/css/Free_consultation.css"/>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0">
            <div class="bi_img">
                <img src="__PUBLIC__/sick/img/bj.jpg" class="img-responsive img-size" alt=""/>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="Free_consultation_fit.html">
                <button class="button">立即开通预约就诊服务</button>
            </a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="rule">活动规则</div>
            <div class="rule_content">
                1.参加免费咨询，可以增加您的曝光率，提高您在患者中的知名度，增加您的粉丝。
            </div>
            <div class="rule_content">
                1.参加免费咨询，可以增加您的曝光率，提高您在患者中的知名度，增加您的粉丝。
            </div>
            <div class="rule_content">
                1.参加免费咨询，可以增加您的曝光率，提高您在患者中的知名度，增加您的粉丝。
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/sick/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/sick/js/bootstrap.js"></script>

</body>

</html>