<!DOCTYPE html>
<html>
<meta charset="utf-8">
<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{$title}</title>
<style>
    .btn{
        height:40px;
    }
</style>
<block name="css">
    <!-- Plugin Stylesheets first to ease overrides -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/plugins/colorpicker/colorpicker.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/custom-plugins/wizard/wizard.css" media="screen">
    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/fonts/ptsans/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/fonts/icomoon/style.css" media="screen">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/mws-style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/icons/icol16.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/icons/icol32.css" media="screen">

    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/demo.css" media="screen">

    <!-- jQuery-UI Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/jui/css/jquery.ui.all.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/jui/jquery-ui.custom.css" media="screen">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/mws-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Template/css/themer.css" media="screen">
    <style>
        #page a.num,#page .current{padding:5px;font-size:18px;}
    </style>
</block>
</head>
<!-- Themer End -->
<body>
<!-- Themer End -->
<include file="Public/top" />

<!-- Start Main Wrapper -->
<div id="mws-wrapper">

    <include file="Public/navbar" />

    <!-- Main Container Start -->
    <div id="mws-container" class="clearfix">

        <!-- Inner Container Start -->
        <div class="pull-left" style="width:100%;">
            <!-- Statistics Button Container -->
            <div class="mws-stat-container clearfix">
                <link href="__PUBLIC__/style/bootstrap.min.css" rel="stylesheet">
                <link href="__PUBLIC__/style/admin.min.css" rel="stylesheet">
                <block name="container">

                </block>
            </div>
            <!-- Panels End -->
        </div>
        <!-- Inner Container End -->

        <!-- Footer -->
        <div id="mws-footer">
            Copyright Your Website 2016. All Rights Reserved.
        </div>

    </div>
    <!-- Main Container End -->

</div>

<!-- JavaScript Plugins -->
<script src="__PUBLIC__/Template/js/libs/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Template/js/libs/jquery.mousewheel.min.js"></script>
<script src="__PUBLIC__/Template/js/libs/jquery.placeholder.min.js"></script>
<script src="__PUBLIC__/Template/custom-plugins/fileinput.js"></script>

<!-- jQuery-UI Dependent Scripts -->
<script src="__PUBLIC__/Template/jui/js/jquery-ui-1.9.2.min.js"></script>
<script src="__PUBLIC__/Template/jui/jquery-ui.custom.min.js"></script>
<script src="__PUBLIC__/Template/jui/js/jquery.ui.touch-punch.js"></script>

<!-- Plugin Scripts -->
<script src="__PUBLIC__/Template/plugins/datatables/jquery.dataTables.min.js"></script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/Template/js/libs/excanvas.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/Template/plugins/flot/jquery.flot.min.js"></script>
<script src="__PUBLIC__/Template/plugins/flot/plugins/jquery.flot.tooltip.min.js"></script>
<script src="__PUBLIC__/Template/plugins/flot/plugins/jquery.flot.pie.min.js"></script>
<script src="__PUBLIC__/Template/plugins/flot/plugins/jquery.flot.stack.min.js"></script>
<script src="__PUBLIC__/Template/plugins/flot/plugins/jquery.flot.resize.min.js"></script>
<script src="__PUBLIC__/Template/plugins/colorpicker/colorpicker-min.js"></script>
<script src="__PUBLIC__/Template/plugins/validate/jquery.validate-min.js"></script>
<script src="__PUBLIC__/Template/custom-plugins/wizard/wizard.min.js"></script>

<!-- Core Script -->
<script src="__PUBLIC__/Template/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Template/js/core/mws.js"></script>

<!-- Themer Script (Remove if not needed) -->
<script src="__PUBLIC__/Template/js/core/themer.js"></script>

<!-- Demo Scripts (remove if not needed) -->
<script src="__PUBLIC__/Template/js/demo/demo.dashboard.js"></script>
<if condition="$Think.session.admin_id eq 1">
<script>
        var a = setInterval(ajaxReturn,5000);
        window.setTimeout(ajaxReturn,0);
        function ajaxReturn(){
            $.get("{:U('Admin/Order/tip')}",function(data){
                $('#tip').html(data);
            });
        }
</script>
</if>
<block name="js">

</block>
</body>
</html>

