<extend name="Public/base"/>
<block name="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shop_right">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                        <div class="row">
                                <p class="shop_right_color">
                                    &nbsp;&nbsp;预约设置修改
                                </p>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
                        <form class="form-horizontal" method="post" id="user-editor" enctype="multipart/form-data" action="{:U('User/index')}">
                            <div class="row form-group">
                                
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!--<p><input class="shop_search_input" placeholder="输入用户名关键字" name="user_name" type="text"> <button>搜索</button></p>-->
<!--                                    <button>添加数据</button>-->

                            <a href="{:U('Service/Servicelist')}"><button type="button" class="btn btn-primary">返回列表</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="row">
                    <form action='__SELF__' method="post" >

                    <table class="table table-bordered">
                        <tr class="text-left">
                          <td class="active text-center">预约周日期</td>
                          <td class="active">
                              <!--<input type="text" name="type" value="{$info['type']}" />-->
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="1" <if condition="$info['week'] eq 1">checked</if>>星期一
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="2" <if condition="$info['week'] eq 2">checked</if>>星期二
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="3" <if condition="$info['week'] eq 3">checked</if>>星期三
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="3" <if condition="$info['week'] eq 4">checked</if>>星期四
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="3" <if condition="$info['week'] eq 5">checked</if>>星期五
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="3" <if condition="$info['week'] eq 6">checked</if>>星期六
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="week" value="3" <if condition="$info['week'] eq 7">checked</if>>星期日
                              </label>
                          </td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">预约时间段</td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="ordertime"  value="1" <if condition="$info['ordertime'] eq 1">checked</if>>上午
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ordertime"  value="2" <if condition="$info['ordertime'] eq 2">checked</if>>下午
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ordertime" value="3" <if condition="$info['ordertime'] eq 3">checked</if>>晚上
                                </label>

                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">人数</td>
                            <td>
                                <input type="text" name="numpeople" value="{$info['numpeople']}" /> 人
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td class="active" colspan="2"><input type='submit' value='提&nbsp;&nbsp;&nbsp;交' class="btn btn-success btn-lg btn-block"></td>
                        </tr>
                    </table>

                    </form>
                </div>
            </div>
         <!--   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
                {$page}
            </div>-->
        </div>
</block>
<br />
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>

</block>