<extend name="Public/base" />
<block name="container">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shop_right">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
                        <div class="row">
                            <!--<a href="{:U('User/index')}">-->
                            <p class="shop_right_color text-right">
                                服务历史
                            </p>
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
                      <!--  <form class="form-horizontal" method="post" id="user-editor" enctype="multipart/form-data" action="{:U('User/index')}">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    &lt;!&ndash;                                    <p><input class="shop_search_input" placeholder="输入用户名关键字" name="user_name" type="text"> <button>搜索</button></p>&ndash;&gt;
                                    <a href="{:U('Service/servicelist')}">  <button type="button" class="btn btn-primary">返回列表</button></a>
                                </div>
                            </div>
                        </form>-->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shop_list">
                <div class="row">
                    <table class="table table-bordered">
                        <tr class="text-center">
                            <td class="active">序号</td>
                            <td class="active">服务类型</td>
                            <td class="active">服务时间</td>
                            <td class="active">科室</td>
                            <td class="active">主治医生</td>
                            <td class="active">患者姓名</td>
                            <td class="active">是否支付</td>
                            <td class="active">聊天信息</td>
                            <td class="active">状态</td>

                           <!-- <td class="active">第三方意见</td>-->
                            <!--<td class="active">审核状态</td>-->
                            <td class="active">操作</td>
                        </tr>

                        <volist name="list" id="vo" key="k">
                            <tr class="text-center">
                                <td class="">{$k}</td>
                                <td class="">
                                    <if condition="$vo['type'] eq 1">
                                        <p style="color:red">图文咨询</p>
                                        <elseif condition="$vo['type'] eq 2"/>
                                            <p style="color:#0000cc ">预约咨询</p>
                                        <elseif condition="$vo['type'] eq 3"/>
                                            <p style="color:green">免费咨询</p>
                                    </if>
                                </td>
                                <td class="">
                                    {:date("Y-m-d",$vo['servetime'])}
                                </td>
                                <td class="">
                                    {$vo.office}
                                </td>

                                <td class="">
                                    {$vo.username}
                                </td>

                                <td class="">
                                    {$vo.s_id}
                                </td>

                                <td class="">
                                    <if condition="$vo['is_pay'] eq 1">已支付
                                        <else /> 未支付
                                    </if>
                                </td>
                                <td class="">
                                    <a href="{:U('Service/liaotian',array('fid'=>$vo['id'],'did'=> $vo['d_id']))}">
                                        <span class="label btn-success">点击查看</span>
                                    </a>
                                </td>
                                <!--<td class="info">
                                    <a href="{:U('Service/threeidea',array('id'=>$vo['s_id']))}">
                                        <span class="label btn-warning">查看意见</span>
                                    </a>
                                </td>-->
                               <!-- <td class="info">
                                    <if condition="$vo['is_status'] eq 1">正常
                                        <elseif condition="$vo['is_status'] eq 2" />冻结
                                    </if>
                                </td>-->
                                <td class="">
                                    <if condition="$vo['is_status'] eq 1">进行中
                                        <elseif condition="$vo['is_status'] eq 2" />完成待评价
                                        <elseif condition="$vo['is_status'] eq 3" />完成已评价
                                        <elseif condition="$vo['is_status'] eq 4" />冻结不显示
                                    </if>
                                </td>
                               <!-- <td class="">
                                   &lt;!&ndash; <a href="{:U('Service/servicestatus',array('id'=>$vo['serviceid']))}">
                                        <span class="label btn-warning">冻结</span>
                                    </a>
                                    <a href="{:U('Service/servicestatus',array('id'=>$vo['serviceid']))}">
                                        <span class="label btn-success">正常</span>
                                    </a>&ndash;&gt;
                                    <a href="{:U('Service/serviceedit',array('id'=>$vo['serviceid']))}">
                                        <span class="label btn-primary"> 修改</span>
                                    </a>
                                    <a href="{:U('Service/Servicedel',array('id'=>$vo['id']))}">
                                        <span class="label btn-danger">删除</span>
                                    </a>
                                    &lt;!&ndash;  <a href="{:U('User/doctoredit',array('id'=>$vo['id']))}">
                                         <span class="label btn-primary">编辑</span>
                                     </a> &ndash;&gt;
                                </td>-->
                                <td class="">
                                    <a href="{:U('Service/servicestatus',array('id'=>$vo['id'],'type'=> 1))}">
                                        <span class="label btn-warning">冻结</span>
                                    </a>

                                    <a href="{:U('Service/servicestatus',array('id'=>$vo['id'],'type'=> 2))}">
                                        <span class="label btn-success">正常</span>
                                    </a>
                                    <a href="{:U('Service/Servicedel',array('id'=>$vo['id']))}">
                                        <span class="label btn-danger">删除</span>
                                    </a>
                                </td>
                            </tr>

                        </volist>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
                {$page}
            </div>
        </div>
</block>
<p>
    <block name="js">
        <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
        <script src="__PUBLIC__/script/bootstrap.min.js"></script>
    </block>
</p>



