<extend name="Public/base"/>
<block name="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shop_right">
        <div class="row">
            <div class="text-center">
                <p class="shop_right_color pull-left" style='padding-left:50px;'>
                    轮播管理
                </p>
                <p class="shop_right_color pull-right" style='padding-right:100px;'>
                    <a style="color:#fff;" href="{:U('Slide/add')}">添加轮播</a>
                </p>
            </div>

        </div>

        <div class="row shop_list">

            <table class="table table-bordered">
                <tr class="text-center">
                    <td class="active">轮播名称</td>
                    <td class="active">轮播图片</td>
                    <td class="active">轮播rul</td>
                    <td class="active">排序值</td>
                    <td class="active">状态</td>
                    <td class="active">操作</td>
                </tr>
                <foreach name="data" item="vo" key="k">
                    <tr class="text-center">
                        <td class="info" style="width: 180px;overflow: hidden;white-space: nowrap;   text-overflow: ellipsis;">
                            {$vo.slide_name}
                        </td>
                        <td class="info"><img src="/{$vo.slide_pic}" alt="" style="height: 30px;"></td>
                        <td class="info">{$vo.url}</td>
                        <td class="info">{$vo.sort}</td>
                        <td class="info">
                            <if condition="$vo['status'] eq 1">
                                正常
                                <else/>
                                冻结
                            </if>
                        </td>
                        <td class="info">
                            <a href="{:U('Slide/editor',array('id'=>$vo['id']))}">
                                <span class="label btn-warning">修改</span>
                            </a>
                            <a href="{:U('Slide/delete',array('id'=>$vo['id']))}">
                                <span class="label btn-danger">删除</span>
                            </a>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
            {$page}
        </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>

</block>

