<extend name="Public/base"/>
<block name="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="row">
                                <p class="shop_right_color">
                                    &nbsp;&nbsp;商家管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>

                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
                            <form class="form-horizontal" method="post" id="user-editor" enctype="multipart/form-data" action="">
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p><input class="shop_search_input" placeholder="输入店铺名关键字" type="text" name="shop_name"> <button>搜索</button></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shop_list">
                    <div class="row">
                        <table class="table table-bordered">
                            <tr class="text-center">
                                <td class="warning">名称</td>
                                <td class="warning">LOGO</td>
                                <td class="warning">联系号码</td>
                                <td class="warning">添加时间</td>
                                <td class="warning">状态</td>
                                <td class="warning">操作</td>
                            </tr>
                            <volist name="data" id="v">
                                <tr class="text-center">
                                    <td class="active">{$v.name}</td>
                                    <td class="active"><img src="/{$v.header_logo}" alt="" style="height: 30px;"></td>
                                    <td class="active">{$v.phone}</td>
                                    <td class="active"><?php echo date('Y-m-d',$v[addtime]);?></td>
                                    <td class="active">
                                        <if condition="$v.status eq 1">正常
                                            <else/>冻结
                                        </if>
                                    </td>
                                    <td class="active">
                                        <a href="{:U('Merchant/editor',array('id'=>$v[id]))}">编辑</a>
                                        <a href="{:U('Merchant/delete',array('id'=>$v[id]))}" onclick="return confirm('你确定要删除该商家吗');">删除</a>
                                    </td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>

</block>
