/*style*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{
    margin:0;
    padding:0
}
body{
    padding:0;
    margin:0;
    background: #F1F1F1
}
*{
    color: #000;
    font-size: 14px
}
img{
    border:none
}
a{
    color: #000
}
a:hover,a:link{
    text-decoration: none
}
ol,ul,li{
    list-style:none
}
.left{
    float: left
}
.right{
    float: right
}
.indent{
    text-indent : 20px
}
/*search*/
.search{
    padding: 10px
}
.input{
    float: left;
    height: 30px;
    width: 100%;
    border: 1px #dcdcdc solid;
    background: none;
    border-radius: 3px;
    padding: 0 26px 0 5px;
    font-size: 12px;
    outline: none;
    color: #999
}
.submit{
    float: right;
    background: url("../images/search.png")no-repeat;
    background-size: 22px;
    height: 22px;
    width: 22px;
    border: 0;
    margin-top: -26px;
    margin-right: 4px;
    outline: none
}
/*content*/
.content-info{
    background: #FFF;
    padding: 10px;
    border-bottom: 1px #dcdcdc solid
}
.content-info img{
    height: 80px;
    float: left;
    margin-right: 10px
}
.info-p1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.info-p0{
    float: left;
    color: #999;
    margin-right: 5px;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    padding-top: 2px
}
.info-p2{
    float: right;
    color: red;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    padding-top: 2px
}
.info-p3{
    color: #999;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-top: 30px
}