<extend name="Public/base"/>
<block name="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shop_right">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                        <div class="row">
                            <a href="{:U('Area/index')}">
                                <p class="shop_right_color">
                                    小区管理
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                        <div class="row">
                            <a href="{:U('Area/add')}">
                                <p class="shop_right_color">
                                    小区添加
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
                        <form class="form-horizontal" method="post" id="user-editor" enctype="multipart/form-data" action="{:U('Area/index')}">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p><input class="shop_search_input" name="name" placeholder="输入小区名关键字" type="text"> <button>搜索</button></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shop_list">
                <div class="row">
                    <table class="table table-bordered">
                        <tr class="text-center">
                            <td class="active">名称</td>
                            <td class="active">所属区域</td>
                            <td class="active">添加时间</td>
                            <td class="active">状态</td>
                            <td class="active">操作</td>
                        </tr>
                        <foreach name="list" item="vo" key="k">
                            <if condition="($k%2) eq 0">
                                <tr class="text-center">
                                    <td class="info">{$vo.name}</td>
                                    <td class="info">{$vo.province}{$vo.city}{$vo.area}</td>
                                    <td class="info">{$vo.time}</td>
                                    <td class="info">
                                        <if condition="$vo['status'] eq 1">
                                            正常
                                            <else/>
                                            冻结
                                        </if>
                                    </td>
                                    <td class="info">
                                        <a href="{:U('Area/status',array('id'=>$vo['id']))}">
                                            <if condition="$vo['status'] eq 1">
                                                <span class="label btn-warning">冻结</span>
                                                <else/>
                                                <span class="label btn-primary"> 正常</span>
                                            </if>
                                        </a>
                                        <a href="{:U('Area/see',array('id'=>$vo['id']))}">
                                            <span class="label btn-warning">修改</span>
                                        </a>
                                        <a href="{:U('Area/delete',array('id'=>$vo['id']))}">
                                            &nbsp;<span class="label btn-danger">删除</span>
                                        </a>
                                    </td>
                                </tr>
                                <else/>
                                <tr class="text-center">
                                    <td class="active">{$vo.name}</td>
                                    <td class="active">{$vo.province}{$vo.city}{$vo.area}</td>
                                    <td class="active">{$vo.time}</td>
                                    <td class="active">
                                        <if condition="$vo['status'] eq 1">
                                            正常
                                            <else/>
                                            冻结
                                        </if>
                                    </td>
                                    <td class="active">
                                        <a href="{:U('Area/status',array('id'=>$vo['id']))}">
                                            <if condition="$vo['status'] eq 1">
                                                <span class="label btn-warning">冻结</span>
                                                <else/>
                                                <span class="label btn-primary"> 正常</span>
                                            </if>
                                        </a>
                                        <a href="{:U('Area/see',array('id'=>$vo['id']))}">
                                            <span class="label btn-warning">修改</span>
                                        </a>
                                        <a href="{:U('Area/delete',array('id'=>$vo['id']))}">
                                            &nbsp;<span class="label btn-danger">删除</span>
                                        </a>
                                    </td>
                                </tr>
                            </if>
                        </foreach>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
                {$page}
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/lrz.bundle.js?v=a1a6749"></script>
    <script src="__PUBLIC__/script/index.js?v=27ce5f7"></script>
    <script src="__PUBLIC__/script/jquery-2.1.4.min.js"></script>

    <script>
        $('.uplo').click(function(){
            $('#show_img').html('');
        })
    </script>
</block>
