<extend name="Public/base"/>
<block name="container">
    <div class=" border-bottom white-bg dashboard-header">
        <div class="col-lg-12" style="border:1px solid #eeeeee;">
            <h4>{$group.title}授权</h4>
            <form action="{:U('Group/auth')}" method="post">
                <volist name='data' id='v'>
                    <label style='padding:10px;'>
                        <input type="checkbox" data-value="{$v.id}" <if condition='$v.checked eq 1'>checked</if> >{$v.title}
                    </label>
                </volist>
                <input type="hidden" name='ids' id='ids'/>
                <input type="hidden" name='id' value='{$group.id}'/>
                <input type="submit" class='btn btn-success' value="保存"/>
            </form>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script>
        //收集规则
        $('form').submit(function(){
            var ids = ',';
            $('input[type=checkbox]').each(function(){
                if($(this).prop('checked')){
                    var id = $(this).attr('data-value');
                    ids = ids + id +',';
                }
            });
            $('#ids').val(ids);
            return trun;
        })
    </script>
</block>
