/*header*/
.header{
    padding: 5px 10px;
    background: #FFF;
    border-bottom: 1px #dcdcdc solid;
}
.header img{
    height: 30px;
    margin: 5px 0;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.header p{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin: 5px;
}
/*content*/
.content{
    margin-top: 50px;
}
.content-info{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFF;
    border-bottom: 1px #dcdcdc solid;
}
.content-info .p1{
    height: 30px;
    line-height: 30px;
}
.content-title{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #dcdcdc solid;
}
.content-title p{
    height: 30px;
    line-height: 30px;
    color: #c3c3c3;
}
.content-info1{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FFF;
    border-bottom: 1px #dcdcdc solid;
}
.content-info1 .img1{
    height: 40px;
    margin-right: 10px;
}
.content-info1 .img2{
    height: 18px;
    margin: 11px 0;
 }
.content-info1 .p1{
    height: 40px;
    line-height: 40px;
}
.content-info2{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    background: #FFF;
    border-bottom: 1px #dcdcdc solid;
}
.content-info2 .p1{
    height: 30px;
    line-height: 30px;
}
/*footer*/
.footer{
    background: #F1F1F1;
    padding: 7px 10px;
}
.footer p{
    background: #fab000;
    color: #FFF;
    height: 35px;
    line-height: 35px;
    border-radius: 6px;
}