/*header*/
.header{
    padding: 5px 10px;
    background: #FFF;
    border-bottom: 1px #dcdcdc solid;
}
.header img{
    height: 30px;
    margin: 5px 0;
}
.header p{
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin: 5px;
}
.header span{
    display: block;
    line-height: 30px;
    height: 30px;
    margin: 5px;
    color: #FFFFFF;
}
/*content*/
.content{
    margin-top: 50px;
    padding: 20px 10px;
}
.content p{
    line-height: 22px;
    font-size: 13px;
    margin-top: 5px;
}
