<include file="Public/top" />
<body>
<include file="Public/navbar" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <include file="Public/column" />

        <div class="main-content">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="{:U('Banner/index')}">图片管理</a>
                    </li>
                    <li class="active"><span class="Current_page iframeurl">图片添加</span></li>
                    <li class="active" id="parentIframe"><span class="parentIframe iframeurl"></span></li>
                    <li class="active" id="parentIfour"><span class="parentIfour iframeurl"></span></li>
                </ul>
            </div>
            <div class=" clearfix" id="advertising">
                <div id="add_ads_style" >
                    <div class="add_adverts">
                        <ul>
                            <li>
                                <label class="label_name">所属分类</label>
                                  <span class="cont_style">
                                      <select class="form-control" id="form-field-select-1">
                                          <option value="">选择分类</option>
                                          <option value="AL">首页大幻灯片</option>
                                          <option value="AK">首页小幻灯片</option>
                                          <option value="AZ">单广告图</option>
                                          <option value="AR">其他广告</option>
                                          <option value="CA">板块栏目广告</option>
                                      </select>
                                  </span>
                            </li>
                            <li><label class="label_name">图片尺寸</label><span class="cont_style">
                              <input name="长" type="text" placeholder="0" class="col-xs-10 col-sm-5" style="width:80px">
                              <span class="l_f" style="margin-left:10px;">x</span><input name="宽" type="text" id="form-field-1" placeholder="0"
                                                                                         class="col-xs-10 col-sm-5" style="width:80px"></span>
                            </li>
                            <li>
                                <label class="label_name">链接地址</label><span class="cont_style"><input name="地址" type="text" id="form-field-1" placeholder="地址" class="col-xs-10 col-sm-5" style="width:450px"></span>
                            </li>
                            <li><label class="label_name">状&nbsp;&nbsp;态：</label>
                               <span class="cont_style">
                                 &nbsp;&nbsp;<label><input name="form-field-radio1" type="radio" checked="checked" class="ace"><span
                                       class="lbl">显示</span></label>&nbsp;&nbsp;&nbsp;
                                 <label><input name="form-field-radio1" type="radio" class="ace"><span class="lbl">隐藏</span></label></span>
                                <div class="prompt r_f"></div>
                            </li>
                            <li><label class="label_name">图片</label><span class="cont_style">
                                <div class="prompt" style="top:150px; left: 0;"><p>图片大小小于5MB,支持.jpg;.gif;.png;.jpeg格式的图片</p></div>
                                 <div class="demo">
                                     <div class="logobox" style="width: 140px;">
                                         <div class="resizebox"><img src="__PUBLIC__/new/images/image.png" width="100px" alt="" height="100px" onclick="document.getElementById('upload').click()"/></div>
                                         <input type="file" name="goods_img" id="upload"  class="upfile uplo" style="display: none;" />
                                     </div>
                                 </div>
                               </span>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <include file="Public/skin" />
    </div>
</div>

<include file="Public/footer" />
</body>
</html>

