<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>帮助添加</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="__PUBLIC__/style/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/style/admin.min.css" rel="stylesheet">

</head>

<body class="container-fluid">
<div class="row">
    <include file="Public/navbar"/>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 body_left_bg text-center">
                <include file="Public/centent/column"/>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-top: 30px;">
                    <div class="row">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{:U('Centent/help_add')}">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border:1px solid #eeeeee;">
                                    <div class="row"  style="margin-top: 20px;">
                                        <div class="form-group add_pro_list">
                                            <label class="col-lg-3 control-label">标题:</label>
                                            <div class="col-lg-4">
                                               <input type="text"  class="form-control" name="title" required>
                                            </div>
                                            <span class="col-lg-5 height-center text-danger">标题不能为空</span>
                                        </div>
                                    </div>
                                    <div class="form-group add_pro_list">
                                        <label class="col-lg-3 control-label">选择分类:</label>
                                        <div class="col-lg-4">
                                            <select class="form-control" name="type">
                                                <option selected value="1">商家</option>
                                                <option  value="2">用户</option>
                                            </select>
                                        </div>
                                        <span class="col-lg-5 height-center"></span>
                                    </div>
                                    <div class="form-group">
                                       <div class="row">
                                            <div class="form-group add_pro_list">
                                                <label class="col-lg-3 control-label">描述:</label>
                                                <div class="col-lg-5">
                                                    <textarea name="info" style="width:100%;height:300px;visibility:hidden;"></textarea>
                                                </div>
                                                <span class="col-lg-4 height-center text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-4 col-lg-4">
                                            <button class="btn btn-sm btn-success" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script src="__PUBLIC__/script/lrz.bundle.js?v=a1a6749"></script>
<script src="__PUBLIC__/script/index.js?v=27ce5f7"></script>
<script src="__PUBLIC__/script/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/kind/themes/default/default.css" />
<link rel="stylesheet" href="__PUBLIC__/kind/plugins/code/prettify.css" />
<script charset="utf-8" src="__PUBLIC__/kind/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/kind/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PUBLIC__/kind/plugins/code/prettify.js"></script>
<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="info"]', {
            cssPath : '__PUBLIC__/kind/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__/kind/php/upload_json.php',
            fileManagerJson : '__PUBLIC__/kind/php/file_manager_json.php',
            allowFileManager : true,
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<script>
    $('.uplo').click(function(){
        $('#show_img').html('');
    })
</script>
</html>
