

<extend name="Public/base"/>
<block name="container">
    <link href="__PUBLIC__/style/admin.min.css" rel="stylesheet">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-top: 30px; ">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 index_right">
                    <p class="num">{$wait}</p>
                    <p>待发货订单</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 index_right">
                    <p class="num">{$zrNum}</p>
                    <p>昨日订单数</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 index_right">
                    <p class="num">{$zrMoney}</p>
                    <p>昨日收益</p>
                </div>
            </div>
        </div>
    </div>
</block>
