<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit">
        <title>优惠券添加</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link href="__PUBLIC__/style/bootstrap.min.css" rel="stylesheet">
        <link href="__PUBLIC__/style/admin.min.css" rel="stylesheet">
        <link rel="stylesheet" href="__PUBLIC__/control/css/zyUpload.css" type="text/css">
    </head>

    <body class="container-fluid">
        <div class="row">
            <include file="Public/navbar"/>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 body_left_bg text-center">
                        <include file="Public/Index/column"/>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-top: 30px;">
                        <div class="row">
                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{:U('Index/coupon_add')}">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border:1px solid #eeeeee;">
                                        <div  style="margin-top: 20px;">
                                            <div class="form-group add_pro_list">
                                                <label class="col-lg-3 control-label"></label>
                                                <div class="col-lg-4">
                                                    <p class="text-center text-danger" >以下栏目只能填写数字</p>
                                                </div>
                                                <span class="col-lg-5 height-center text-danger"></span>
                                            </div>

                                            <div class="form-group add_pro_list">
                                                <label class="col-lg-3 control-label">可用日期(天):</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" name="day" onkeyup='this.value=this.value.replace(/\D/gi,"")' required/>
                                                </div>
                                                <span class="col-lg-5 height-center text-danger">如:（2016-04-06/2016-04-08）此项应填写2</span>
                                            </div>
                                            <div class="form-group add_pro_list">
                                                <label class="col-lg-3 control-label">兑换比例:</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" name="ratio" onkeyup='this.value=this.value.replace(/\D/gi,"")' required/>
                                                </div>
                                                <div class="col-lg-5 height-center text-danger" id="show_img">
                                                    积分兑换优惠券比例(如100积分/优惠券)
                                               </div>
                                            </div>
                                        </div>
                                        <div class="form-group add_pro_list">
                                            <label class="col-lg-3 control-label">最低消费额</label>
                                            <div class="col-lg-4">
                                                <input type="jifen"  class="form-control" onkeyup='this.value=this.value.replace(/\D/gi,"")' name="use_coupon" required>
                                            </div>
                                            <div class="col-lg-5 height-center text-danger">
                                                订单金额必须大于最低消费额才可使用
                                            </div>
                                        </div>
                                        <div class="form-group add_pro_list">
                                            <label class="col-lg-3 control-label">抵用价格:</label>
                                            <div class="col-lg-4">
                                                <input type="text"  class="form-control" onkeyup='this.value=this.value.replace(/\D/gi,"")' name="coupon_price"  required>
                                            </div>
                                            <span class="col-lg-5 height-center text-danger">此消费券抵用价格</span>
                                        </div>
                                        <div class="form-group add_pro_list">
                                            <label class="col-lg-3 control-label">类型:</label>
                                            <div class="col-lg-4">
                                                <input type="radio" name="type" value="1" checked style="margin-top: 10px;">优惠券
                                                <input type="radio" name="type" value="2" style="margin-top: 10px;">配送券
                                            </div>
                                            <span class="col-lg-5 height-center text-danger"></span>
                                        </div>
                                        <div class="form-group add_pro_list">
                                            <label class="col-lg-3 control-label"></label>
                                            <div class="col-lg-4">
                                                <button type="submit" class="btn btn-success" style="width: 100%;">提交</button>
                                            </div>
                                            <span class="col-lg-5 height-center text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
