<include file="Public/top" />
<script type="text/javascript">window.jQuery || document.write("<script src='__PUBLIC__/new/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");</script>
<![endif]-->
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='__PUBLIC__/new/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<body>
<include file="Public/navbar" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="Public/column" />
        <div class="main-content">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="{:U('Ask/index')}">问题管理</a>
                    </li>
                    <li class="active"><span class="Current_page iframeurl">问题详情查看</span></li>
                    <li class="active" id="parentIframe"><span class="parentIframe iframeurl"></span></li>
                    <li class="active" id="parentIfour"><span class="parentIfour iframeurl"></span></li>
                </ul>
            </div>
            <div class=" page-content clearfix" style="width: 1700px">
                <div id="products_style">
                    <div class="h_products_list clearfix container" id="" style="margin-top: 30px;">
                        <div class="" id="wd">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <table class="table table-bordered" border="1">
                                    <tr>
                                        <th rowspan="3" width="180" class="text-center"> <img src="__ROOT__/{$info.img}"  style=" margin-top: 5px; height: 150px; width: 150px; border-radius: 50%;"/></th>
                                        <td>回答者：{$info['user_id']}</td>
                                        <td>获赞数：{$info['com_praise']}</td>
                                    </tr>
                                    <tr>
                                        <td>添加时间：{$info['add_time']}</td>
                                        <if condition="$info['status'] eq 1">
                                        <td>状态：正常</td>
                                            <else />
                                            <td>状态：冻结</td>
                                        </if>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12" style="margin-top: 20px; margin-bottom: 50px;">
                                <div class="col-md-12 col-lg-12 col-sm-12"style="border: 1px solid #E3E3E3;">
                                    <p class="text-center" style="margin: 15px auto 15px auto;"> {$info['title']}</p>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12"style="border: 1px solid #E3E3E3;">
                                    <div class="row" style="margin-top: 20px;">
                                        <p>
                                        <h4>展示图：</h4>
                                        </p>
                                        <p style="margin-top: 15px;padding-left: 25px;"><img src="__ROOT__/{$info.img}" style="border: 4px dashed #e0e0e0;" /></p>
                                    </div>
                                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                                        <p>
                                        <h4>详细描述：</h4>
                                        </p>
                                        <p style="margin-top: 15px;padding-left: 25px; line-height: 24px;">{$info.content}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <include file="Public/skin" />
    </div><!-- /.main-container-inner -->

</div>
<!--底部样式-->

<div class="footer_style" id="footerstyle">
    <p class="l_f">版权所有： 西安大麦网络科技有限公司  陕ICP备15003277号 </p>
    <p class="r_f">地址：西安市碑林区火炬路东新世纪广场裙楼3层D区  邮编：710000 公司名称： 西安大麦网络科技有限公司</p>
</div>
<!--修改密码样式-->
<div class="change_Pass_style" id="change_Pass">
    <ul class="xg_style">
        <li><label class="label_name">原&nbsp;&nbsp;密&nbsp;码</label><input name="原密码" type="password" class="" id="password"></li>
        <li><label class="label_name">新&nbsp;&nbsp;密&nbsp;码</label><input name="新密码" type="password" class="" id="Nes_pas"></li>
        <li><label class="label_name">确认密码</label><input name="再次确认密码" type="password" class="" id="c_mew_pas"></li>

    </ul>
    <!--       <div class="center"> <button class="btn btn-primary" type="button" id="submit">确认修改</button></div>-->
</div>
<!-- /.main-container -->
<!-- basic scripts -->

</body>
</html>