<extend name="Public/base"/>
<block name="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="main-title">
            <h2>修改管理员</h2>
        </div>
        <form action="{:U('update')}" method="post" class="form-horizontal">
            <input type="hidden" name="id" value="{$list.id}"/>
            <div class="form-item">
                <label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
                <div class="controls">
                    <input type="text"  disabled class="text input-large"  value="{$list.username}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
                <div class="controls">
                    <input type="password" class="text input-large" name="password" value="">
                </div>
            </div>

            <div class="form-item">
                <label class="item-label">拥有用户权限：</label>
                <div class="controls">
                    <volist name="auth" id="v">
                        <input type="radio"  name="group" value="{$v.id}" <if condition="$v[id] eq $group[group_id]">checked</if>/>{$v.title} &nbsp;
                    </volist>

                </div>
            </div>
            <if condition="$_GET[type] eq 1">
                <input type="hidden" name="type" value="1"/>
            </if>
       <!--     <if condition="$_GET[type] eq 2">
                <br/>
                <div class="form-item">
                    <label class="item-label">选择店铺:</label>
                    <div class="controls" style="width:390px;">
                        <select name="shop_id"  class="form-control">
                            <foreach name="shop" item="vo">
                                <option value="{$vo.id}">{$vo.shop_name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="type" value="2"/>
            </if>-->
            <br/>
            <div class="form-item">
                <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </form>
    </div>
</block>
<block name="js">

</block>






