<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>支付宝绑定</title>

    <link href="__PUBLIC__/newdoctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/newdoctor/css/doctor_withdraw_deposit.css"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="sum">支付宝账号</div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <input type="text" class="lf ipt" placeholder="请输入支付宝账户"/>
        </div>
    </div>
    <a href="Bind_uccessfully%20.html" style="text-decoration: none">
        <button class="button">保存</button>
    </a>
</div>
<script src="../js/jquery-1.11.3.js"></script>

<script src="../js/bootstrap.js"></script>

</body>

</html>