<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>绑定成功</title>

    <link href="__PUBLIC__/newdoctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/newdoctor/css/Bind_successfully.css"/>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" align="center">
            <div class="fl page">
                <div class="success_img lf">
                    <img src="../img/payment-succes.png" class="img-responsive" style="display: block" alt=""/>
                </div>
                <div class="success_tx lf">绑定成功</div>
            </div>
            <div class="txt">
                你已经成功绑定支付宝账户
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 consultation_btn" align="center">
            <a href="doctor_change.html" style="text-decoration: none">
                <button class="consultation">返回</button>
            </a>
        </div>
    </div>
</div>
<script src="../js/jquery-1.11.3.js"></script>

<script src="../js/bootstrap.js"></script>

</body>

</html>