<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>心意墙</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/newdoctor/css/Mind_wall.css"/>

</head>

<body>
<div class="container">
    <div class="row">
        <volist name="info" id="vo">
        <div class="col-md-12 col-sm-12 col-xs-12 mr">
            <div class="user_img lf">
                <img src="{$vo['s_id']['icon']}" class="img-responsive img-circle" alt=""/>

                <div class="money">
                    <span class="money_number">{$vo.price}元</span>
                </div>
            </div>
            <div class="criticism lf fl">
                <div class="user_name">{$vo['s_id']['username']}</div>
                <div class="info">{$vo.content}</div>
            </div>
        </div>
        </volist>
    </div>
    <button type="button" class="btn btn-warning btn-lg btn-block">心意总收入
        <if condition="$price eq ''">
            0
            <else/>
            {$price}
        </if>
        元
    </button>
    <!--<div class="navbar navbar-fixed-bottom">
        <div style="color: #ffffff;font-size: 16px;text-align:center;line-height: 50px">心意总共收入 <span style="color:#F93446;">{$price}</span> 元</div>
    </div>-->
</div>

<script src="__PUBLIC__/sick/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/sick/js/bootstrap.js"></script>

</body>

</html>