/*style*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{
    margin:0;
    padding:0
}
body{
    padding:0;
    margin:0;
    font-family: tahoma,arial,\5b8b\4f53,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(96,96,96);
    background-color: #FFF;
}
*{
    /*color: #853067;*/
    color: #000;
    font-size: 14px
}
img{
    border:none
}
a{
    color: #5c307d
}
a:hover,a:link{
    text-decoration: none
}
ol,ul,li{
    list-style:none
}
.left{
    float: left
}
.right{
    float: right
}
.indent{
    text-indent : 28px
}
.yellow-col{
    color: #f08429;
}
.yellow-back{
    background: #f08429;
}
/*header*/
.header{
    padding: 10px 0;
    background: #000;
}
.header img{
    height: 20px;
    margin: 5px 0;
}
.header p{
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-size: 16px;
}
/*content*/
.content{
    margin-top: 80px;
}
.content .p1,.content .p2,.content .p3{
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
.content .p1 img{
    height: 16px;
    margin: 7px 0;
    margin-right: 10px;
}
.content .p3 span{
    color: #F08429;
}
.content .p4{
    width: 100px;
    background: #F08429;
    padding: 4px 0;
    color: #FFF;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}