<extend name="Public/base"/>
<block name="container">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_lists">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action_title">
                <p>反馈意见列表</p>
            </div>
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <tr>
                        <th>序号号</th>
                        <th>反馈人</th>
                        <th>评论内容</th>
                        <th>反馈时间</th>
                    </tr>
                    <volist name='list' id='v'>
                        <tr>
                            <td>{$i}</td>
                            <td>{$v.username}</td>
                            <td>{$v.comment}</td>
                            <td>{$v.adddate}</td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
    </div>
    <if condition="$page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
            {$page}
        </div>
    </if>
</div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>

</block>