<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>服务历史</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/Chat_record.css"/>
</head>

<body>
<div class="container">

    <div class="row top">
        <a href="">
            <div class="col-md-6 col-sm-6 col-xs-6 left cl" align="center">图文咨询历史</div>
        </a>
        <a href="Chat_record_two.html">
            <div class="col-md-6 col-sm-6 col-xs-6 right" align="center" style="color: #9a9a9a;">预约咨询历史</div>

        </a>
    </div>
    <volist name="info" id="vo">
    <div class="row">
        <a href="{:U('Index/chat',array('fid'=> $vo['id']))}">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content">
                    <div class="info fl">
                        <div class="doctor lf">{$vo.office}</div>
                        <div class="names lf">{$vo.username}</div>
                        <div class="judge lf">图文咨询</div>
                    </div>
                    <div class="evaluate_tx">
                        <div class="evaluate_content">
                            {$vo.content}
                        </div>
                        <div class="time">{$vo.addtime}</div>
                    </div>
                </div>

            </div>
        </a>
    </div>
    </volist>

</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>

</body>

</html>