<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>问题详情</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/chat.css"/>


</head>

<body>
<div class="container">
    <div class="row" style="margin-top: 10px">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <volist name="info" id="vo">
                <if condition="$vo['reply_type'] eq 1">
            <div class="user fl">
                <div class="user_img lf">
                    <img src="{$vo.s_id}" class="img-responsive img-circle" alt="" />
                </div>
                <if condition="substr($vo['content'],-3) eq 'jpg'">
                    <div class="user_tx lf" >
                        <img src="__ROOT__/{$vo.content}" style="width: 100px;height: 100px;">
                    </div>
                    <else />
                    <div class="user_tx lf">
                         {$vo.content}
                    </div>
                </if>
            </div>
                    <else />
            <div class="doctor fl">
                <div class="user_img rt" style="padding-bottom: 10px">
                    <img src="__ROOT__/Uploads/{$vo.d_id}" class="img-responsive img-circle" alt="" style="height: 50px;"/>
                </div>

                <if condition="substr($vo['content'],-3) eq 'jpg'">
                    <div class="user_tx rt" style="background: #ffffff">
                         <img src="__ROOT__/{$vo.content}" style="width: 100px;height: 100px;">
                    </div>
                    <else />
                    <div class="user_tx rt" style="background: #ffffff">
                    {$vo.content}
                    </div>
                </if>



            </div>
                </if>
            </volist>
        </div>
    </div>
</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>
</body>

</html>