<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>关闭问题成功</title>
    <link href="__PUBLIC__/sick/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="__PUBLIC__/doctor/css/recharge.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/payment_success.css"/>
    <!--href="../css/payment_success.css"-->


</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" align="center">
            <div class="fl page">
                <div class="success_img lf">
                    <img src="__PUBLIC__/doctor/img/payment-succes.png" class="img-responsive" style="display: block" alt="" style/>
                </div>
                <div class="success_tx lf">关闭成功</div>
            </div>
            <div class="txt">
                你已成功关闭<span class="classfiy">图文咨询</span>服务
            </div>
        </div>
    </div>
</div>

</body>

</html>