<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>当前服务</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/service_history.css"/>
</head>

<body>
<div class="container">
    <!-- 顶部导航-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 top_nav">
            <ul class="fl top_nav_content">
                <a href="{:U('Index/current_service')}">
                    <li class="lf current ">当前服务</li>
                </a>
                <a href="{:U('Index/my_doctor')}">
                    <li class="lf ">我的医生</li>
                </a>
                <a href="{:U('Index/service_history')}">
                    <li class="lf ">服务历史</li>
                </a>
            </ul>
        </div>
    </div>
    <!-- 服务历史-->
    <volist name="info" id="vo">

    <div class="row bj">
        <div class="col-md-12 col-sm-12 col-xs-12 img_txt_content">
            <div class="img_txt lf">
                <img src="__PUBLIC__/doctor/img/images-text.png" class="img-responsive" alt=""/>
            </div>
            <div class="txt_content lf">
                <if condition="$vo['type'] eq 1">图文咨询
                    <elseif condition="$vo['type'] eq 2" />
                    预约咨询<elseif condition="$vo['type'] eq 3" />
                    免费咨询</if></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content_tx">
            <span class="department">{$vo.office}</span>|<span class="classfiy"><if condition="$vo['type'] eq 1">图文咨询<elseif condition="$vo['type'] eq 2" />预约咨询<elseif condition="$vo['type'] eq 3" />免费咨询</if></span>|<span class="doctor_names">{$vo.username}</span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="time fl">
                <div class="time_number lf">{$vo.servetime|date="y-m-d"}</div>
                <if condition="$vo['is_pay'] eq 1">
                    <a href="{:U('Index/pay',array('id'=> $vo['id']))}">
                        <div class="evaluate rt" style="background: green none repeat scroll 0% 0%; margin-right: 5px;">
                            未支付
                        </div>
                    </a>
                <elseif condition="$vo['is_status'] eq 1"/>
                    <if condition="$vo['u_reply_status'] eq 1">
                        <a href="{:U('Index/setchat',array('fid'=> $vo['id'],'did'=> $vo['d_id'],'guan'=> '1'))}">
                            <div class="evaluate rt" style="margin-right: 5px;">聊天关闭</div>
                        </a>
                        <else/>
                        <a href="{:U('Index/setchat',array('fid'=> $vo['id'],'did'=> $vo['d_id'],'guan'=> '2'))}">
                            <div class="evaluate rt" style="margin-right: 5px;">开启聊天</div>
                        </a>
                    </if>
                    <a href="{:U('Index/setchat',array('fid'=> $vo['id'],'did'=> $vo['d_id'],'guan'=> '3'))}">
                        <div class="evaluate rt" style="margin-right: 5px;">关闭服务</div>
                    </a>
                <elseif condition="$vo['is_status'] eq 2"/>
                    <a href="{:U('Index/evaluate',array('fid'=> $vo['id'],'did'=> $vo['d_id']))}">
                        <div class="evaluate rt" style="margin-right: 5px;">待评价</div>
                    </a>
                </if>

            </div>
           <!-- <a href="{:U('Index/Third_party_opinions', array('fid'=> $vo['id']))}">
                <div class="look_over">查看第三方意见...</div>
            </a>-->
        </div>
    </div>
    </volist>


</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/doctor/js/bootstrap.js"></script>

</body>

</html>