<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>查找医生</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/index.css"/>
    <style>

    </style>
</head>

<body style="overflow: hidden">

<div class="container">
    <!-- 顶部搜索框-->
    <div class="navbar navbar-fixed-top" style="z-index: 999">
        <div class="row seach">
            <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="seach_br fl">
                        <div class="seach_img lf">
                            <img src="__PUBLIC__/doctor/img/seach1.png" class="img-responsive" alt=""/>
                        </div>
                        <div class="seach_ipt lf" style="width: 87%">
                            <form method="post" action="__SELF__">
                            <input be_adept_at="text" placeholder="搜索医生名" name="username" style="width: 100%"/>
                            </form>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <!-- 分类-->
    <div class="row classfiy">
        <div class="col-md-2 col-sm-3 col-xs-3 clear_left" align="center">
            <ul class="classfiy_ct">
                <a href="">
                    <li class="names all">全部</li>
                </a>
                <volist name="categorydata" id="vo">
                    <a href="{:U('Index/index_state',array('id'=>$vo['id']))}">
                        <li class="names">{$vo.catname}</li>
                    </a>
                </volist>

            </ul>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 classfiy_right">
            <ul class="fl sort">
                <form action="{:U('Index/index')}" method="post" id="xiangying">
                        <input type="hidden" name="shijian" value="1">
                    <li class="sort_content lf sort_ct">综合排序</li>
                    <li class="sort_content2 lf sort_ct" id="sj01">按相应时间</li>
                    <li class="sort_content3 rt sort_ct">更多条件 &gt;</li>
                </form>
            </ul>
            <foreach name="doctordata" item="vo">
              <!--  <p >{$vo.id}{$vo.speciality}</p>-->
                <a href="{:U('Index/doctor_detail',array('id'=>$vo['id']))}">
                <div class="row doctor ">
                    <div class="col-md-4 col-sm-4 col-xs-4 doctor_ct">
                        <div class="doctor_img">
                            <img src="__ROOT__/Uploads/{$vo.image}" class="img-responsive img-circle doctor_img_size" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 clear_pd_left">
                        <div class="info_content">
                            <div class=" info fl">
                                <div class="status lf">
                                    <if condition="$vo['is_online'] eq '1'">
                                        <span class="lf info_txt">在线</span>
                                        <img src="__PUBLIC__/doctor/img/chenggong.png" class="img-responsive lf info_img" alt=""/>
                                    <else />
                                        <span class="lf info_txt">离线</span>
                                        <img src="__PUBLIC__/doctor/img/close.png" class="img-responsive lf info_img" alt=""/>
                                    </if>
                                </div>
                                <div class="money_number rt">
                                    <p style="color:blue;font-size: 5px">图文{$vo.tuwenpirce}元/次</p>
                                    <p style="font-size: 5px">预约{$vo.orderprice}元/次</p>
                                </div>

                            </div>
                            <div class="type">{$vo.catname} 医师</div>
                            <div class="time">平均应答时间 ：{$vo.responsetime}</div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 doctor_names">
                        <div class="name lf" align="center">{$vo.username}</div>
                        <div class="number lf">执业编号：<span class="number_content">{$vo.practice}</span></div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="be_adept_at">{$vo.speciality|substr=0,30}...</div>
                        <div class="fl consult_content">
                            <a href="{:U('Index/doctor_detail',array('id'=>$vo['id']))}">
                                <div class="help_number lf">已帮助<span class="Help_number">
                                <if condition="$vo['servernum'] neq ''">
                                    {$vo.servernum}
                                    <else/>
                                    0
                                </if>
                                </span>人
                                </div>
                                <div class="consult rt">向TA咨询</div>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            </foreach>
        </div>
    </div>
</div>
<div class="window"></div>
<div class="more">
    <form action="__SELF__" method="post">
    <div class="academic_title">职称 :</div>
    <ul class="checktype fl">
            <input type="hidden" name="rank" val="1">
        <li class="more_content1 init">初级</li>
        <li class="more_content2 init">中级</li>
        <li class="more_content3 init">高级</li>
    </ul>

    </form>
    <div class="function">
        <div class="left" id="left">清除设置</div>
        <div class="right" >完成设置</div>
    </div>
</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/doctor/js/index_state.js"></script>
<script src="__PUBLIC__/doctor/js/bootstrap.js"></script>
<script>
   /* if ($(".be_adept_at").text().length > 15) {
        $(".be_adept_at").text($(".be_adept_at").text().substring(0, 15));
        $(".be_adept_at").html($(".be_adept_at").html() + '…');
    }*/
    $(".left").click(function () {
        $(".init").css("background", "#e9e9e9");
        $(".init").css("color", "#888");
    })

    $('.more_content1').click(function(){
        $("input:hidden").val(1);
    });
   $('.more_content2').click(function(){
       $("input:hidden").val(2);
   });
   $('.more_content3').click(function(){
       $("input:hidden").val(3);
   });

    $('.right').click(function(){
        $('form').eq(1).submit();
    })


    /*$("#shijian").click(function(){
    $.post("{:U('Index/index')}",{'sj':'shijian'});
    })*/


    $('#sj01').click(function(){
        $("#xiangying").submit();
    })

</script>
</body>

</html>