<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>个人积分</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="__PUBLIC__/doctor/css/my_integral.css"/>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;padding-bottom: 10px;background: #eeeeee">
            <div class="lf left fl">
                <div class="left_img lf">
                    <img src="__PUBLIC__/doctor/img/rule.png" class="img-responsive" alt=""/>
                </div>
                <div class="img-tx lf">10</div>
                <div class="img-tx2 lf">积分</div>
            </div>
            <div class="rt right lf">
                <div class="right_img lf">
                    <img src="__PUBLIC__/doctor/img/rule2.png" class="img-responsive" alt=""/>
                </div>
                <a href="">
                    <div class="right_tx lf">规则</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 integral_info">
            <ul>
                <li class="classfiy lf">详情</li>
                <li class="classfiy lf">积分</li>
                <li class="classfiy lf">时间</li>
            </ul>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 integral_content">
            <ul class="integral fl">
                <li class="classfiy lf">新手注册</li>
                <li class="classfiy lf number">+5</li>
                <li class="classfiy lf">2016-5-20</li>
            </ul>
            <ul class="integral fl">
                <li class="classfiy lf">新手注册</li>
                <li class="classfiy lf number">+5</li>
                <li class="classfiy lf">2016-5-20</li>
            </ul>
            <ul class="integral fl">
                <li class="classfiy lf">新手注册</li>
                <li class="classfiy lf number">+5</li>
                <li class="classfiy lf">2016-5-20</li>
            </ul>
        </div>
    </div>
</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/doctor/js/bootstrap.js"></script>

</body>

</html>