<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title></title>

    <link href="css/bootstrap.css" rel="stylesheet">

    <script src="js/html5shiv.min.js"></script>

    <script src="js/respond.min.js"></script>

</head>

<body>

<script src="js/jquery-1.11.3.js"></script>

<script src="js/bootstrap.js"></script>

</body>

</html>