<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>修改个人资料</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/my_health.css"/>

</head>

<body>
<div class="container">
    <div class="row change">
        <div class="col-md-12 col-sm-12 col-xs-12 classfiy_change">
            <div class=" lf" style="width: 100%;text-align: center;padding: 10px">
                <div class="datum">个人资料修改</div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 my_datum_content">
            <div class="my_info fl">
                <div class="height lf">身高</div>
                <input type="text" class="ipt rt" placeholder="167cm"/>
            </div>
            <div class="my_info fl">
                <div class="height lf">体重</div>
                <input type="text" class="ipt rt" placeholder="60kg"/>
            </div>
            <div class="my_info fl">
                <div class="height lf">婚姻状态</div>
                <input type="text" class="ipt rt" placeholder="167cm"/>
            </div>
        </div>
    </div>
    <button class="button">确认修改</button>
</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/doctor/js/bootstrap.js"></script>

</body>

</html>