<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

        <!--<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
        <title>预约时间设置</title>
        <link rel="stylesheet" href="__PUBLIC__/doctor/css/calendar.css">
        <link rel="stylesheet" href="__PUBLIC__/doctor/css/select_time.css">
        <style type="text/css">

        </style>
        </head>
        <body>
        <div style="text-align: center; padding-top: 15px; font-size: 18px;">
            <p>请选择预约时间</p>
        </div>
            <form action="{:U('Index/select_time')}" method="post" class="parent">

                        <div id="demo">
                    <div id="ca"></div>
                    <div id="dd"></div>
                </div>
                <div class="tx">选择预约时间</div>
                <div class="times fl" style="padding-left: 2%">
                    <div class="select_time lf">9:30</div>
                    <div class="select_time lf">10:00</div>
                    <div class="select_time lf">10:30</div>
                    <div class="select_time lf">11:00</div>
                    <div class="select_time lf">11:30</div>
                    <div class="select_time lf">12:00</div>

                    <div class="select_time lf">13:30</div>
                    <div class="select_time lf">14:00</div>
                    <div class="select_time lf">14:30</div>
                    <div class="select_time lf">15:00</div>
                    <div class="select_time lf">15:30</div>
                    <div class="select_time lf">16:00</div>
                    <div class="select_time lf">16:30</div>
                    <div class="select_time lf">17:00</div>
                </div>
                <input type="hidden" name="time" value="" id="time">
                <input type="hidden" name="date" value="" id="date">
                <a href="{:U('Index/pay_immediately')}"><button id="btn" class="button" style="font-size: 16px;">确认选择</button></a>
            </form>


<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/doctor/js/calendar.js"></script>
<script>
    var list="{$str_time}";
    var arr=list.substr(0,(list.length)-1);
    var data=arr.split(",");
    var data_list=[
    ];
    var html='';
    var mm=[];
    for(var i=0; i<data.length; i++){
       html+="{";
       html+='date:'+"'"+data[i]+"',";
       html+="value:'预约'";
        if(Number(i)+Number(1) == data.length){
            html+="}";
        }else{
            html+="}|";
        }
    }
    for(var i=0; i<html.split("|").length; i++){
        var obj2=eval("("+html.split("|")[i]+")");
        data_list.push(obj2);
    }
    $('#ca').calendar({
        width: 320,
        height: 320,
        data: data_list
    });
    $(".dot").click(function () {
        if($(this).closest(".parent").find(".times").css("display")=="block"){
            $(".tx").show();
            $(".select_time").show();
            $(".button").show();
        }
    })

    $("li").click(function(){
        if($(this).children().length==0){
            $(".tx").hide();
            $(".select_time").hide();
            $(".button").hide();
        }else{
            var value = $(this).text().replace(/[^0-9]/ig,"");
            if(value && value.length<=2 ){
                $('#time').val(value);
                return true;
            }else{
                return false;
            }

        }
    })

    $(".select_time").click(function () {
        $(this).siblings().css("background","#fafafa");
        $(this).siblings().css("color", "#333")
        $(this).css("background", "#FF9F37")
        $(this).css("color", "#fff")
        $('#date').val($(this).text());
    })
 /*   $('#btn').click(function(){
        if($('#date').val() &&  $('#time').val()){
            $('form').submit();
        }else{
            alert('请选择正确的时间');
            return false;
        }
    })*/

</script>
</body>
</html>