<extend name="Public/base"/>
<block name="container">
    <style>
        .main {
            background-color: #f6f6f6;
            padding: 20px;
        }
        .input-large {
            width: 390px;
        }
        .text {
            width: 220px;
            height: 20px;
            vertical-align: middle;
        }
        .text, .textarea {
            padding: 4px;
            border: 1px solid #eeeeee;
            background-color: #fff;
            transition: all .3s linear;
        }
        .controls>input.text {
            width:390px;
            height: 30px;
            /* vertical-align: middle; */
        }
    </style>

    <div class="main">
        <div class="main-title">
            <h2>新增管理员</h2>
        </div>
        <form action="{:U('add')}" method="post" class="form-horizontal">
            <div class="form-item">
                <label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="username" value="">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
                <div class="controls">
                    <input type="password" class="text input-large" name="password" value="">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">确认密码</label>
                <div class="controls">
                    <input type="password" class="text input-large" name="repassword" value="">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">拥有用户权限：</label>
                <div class="controls">
                    <volist name="auth" id="v">
                        <input type="radio"  name="group" value="{$v.id}"/>{$v.title} &nbsp;
                    </volist>

                </div>
            </div>
            <if condition="$_GET[type] eq 1">
                <input type="hidden" name="type" value="1"/>
            </if>
            <if condition="$_GET[type] eq 2">
                <br/>
                <div class="form-item">
                    <label class="item-label">选择店铺:</label>
                    <div class="controls" style="width:390px;">
                        <select name="shop_id"  class="form-control">
                            <foreach name="shop" item="vo">
                                <option value="{$vo.id}">{$vo.shop_name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="type" value="2"/>
            </if>
            <br/>
            <div class="form-item">
                <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </form>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>

</block>

