<extend name="Public/base"/>
<block name="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shop_right">
            <div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                    <div class="row">
                            <p class="shop_right_color">
                                退款订单列表
                            </p>
                    </div>
                </div>
                <div class="pull-right">
                    <form class="form-inline" action="{:U('Order/returnOrder')}" method="get" style='margin-top:5px;'>
                        <div class="form-group">
                            <input type="text" id='date1' name='begin_time' value="{$_GET[begin_time]}" placeholder="请输入开始时间">
                        </div>
                        <div class="form-group">
                            <input type="text" id='date2' name='end_time' value="{$_GET[end_time]}" placeholder="请输入结束时间">
                        </div>
                        <div class="form-group">
                            <input type="text" name="order_id" placeholder="输入订单号">
                        </div>
                        <button>搜索</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class='table table-bordered'>
                        <thead>
                        <tr>
                            <th style="text-align: center;">订单号</th>
                            <th style="text-align: center;">店铺名称</th>
                            <th style="text-align: center;">下单时间</th>
                            <th style="text-align: center;">退款商品</th>
                            <th style="text-align: center;">订单价格</th>
                            <th style="text-align: center;">商品价格</th>
                            <th style="text-align: center;">退款状态</th>
                            <th style="text-align: center;">定单状态</th>
                            <th style="text-align: center;">支付方式</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <empty name='data'>
                            <tr>
                                <td colspan="10" class='text-center' style='color:red;'>
                                    没有搜到信息!
                                </td>
                            </tr>
                        </empty>
                        <volist name='data' id='v'>
                            <tr>
                                <td style="text-align: center;">{$v.order_id}</td>
                                <td style="text-align: center;">{$v.shop_name}</td>
                                <td style="text-align: center;"><?php echo date('Y-m-d',$v[addtime]); ?></td>
                                <td style="text-align: center;">{$v.goods_name}</td>
                                <td style="text-align: center;color:red;">{$v.total_price}</td>
                                <td style="text-align: center;color:red;">{$v.goods_price}</td>
                                <td style="text-align: center;">
                                    <if condition='$v.status eq 1'>申请退款
                                        <elseif condition='$v.order_status eq 2'/>待配送员确认
                                        <elseif condition='$v.order_status eq 3'/>待财务确认
                                        <elseif condition='$v.order_status eq 4'/>完成退款
                                        <elseif condition='$v.order_status eq 5'/>客服驳回
                                        <elseif condition='$v.order_status eq 6'/>配送员驳回
                                    </if>
                                </td>
                                <td style="text-align: center;">
                                    <if condition='$v.order_status eq 0'>未支付
                                        <elseif condition='$v.order_status eq 1'/>待发货
                                        <elseif condition='$v.order_status eq 3'/>发货
                                        <elseif condition='$v.order_status eq 4'/>收货
                                        <elseif condition='$v.order_status eq 5'/>取消
                                    </if>
                                </td>
                                <td style="text-align: center;">
                                    <if condition='$v.pay_method eq 1'>货到付款
                                        <elseif condition='$v.pay_method eq 2'/>微信支付
                                        <elseif condition='$v.pay_method eq 3'/>支付宝
                                        <else/> 在线支付
                                    </if>
                                </td>
                                <td style="text-align: center;">
                                    <a class="label label-success" href="{:U('Order/delivery',array('id'=>$v[id]))}">配送信息</a>
                                    <a class="label label-info" href="{:U('Order/seeReturn',array('id'=>$v[id]))}">查看商品</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <if condition="$page">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
                {$page}
            </div>
        </if>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>
    <script>
        $(function(){
            var status=$('#status').val();
            $('.order_select_list').removeClass('order_select');
            $('#'+status).addClass('order_select');
        })
        $(function(){
            var winH = $(window).height();
            $('.body_left_bg').css('height',Number(winH)+Number(250));
        })
    </script>
    <script type="text/javascript" src="__PUBLIC__/date/laydate.dev.js"></script>
    <script type="text/javascript">
        laydate({
            elem: '#date1'
        });
        laydate({
            elem: '#date2'
        });
    </script>
</block>
