<include file="layout/header"/>
<script type="text/javascript" src="__PUBLIC__/lib/H-ui/js/H-ui.min.js" ></script>
		<div class="panel bg-fff mt-20 mr-20 ml-20 mb-20">
			<div class="panel-header">
				<span class="active">退货服务</span>
			</div>
			<div class="panel-body panel_body_block">
				<form id="form-return">
				<table class="table">
					<thead>
						<tr class="active">
							<th colspan="7" class="f-14">包裹信息</th>
						</tr>
						<tr class="table-bg table-border table-bordered">
							<th class="text-c">海外收货仓库</th>
							<th class="text-c">海外快递单号</th>
							<th class="text-c">状态</th>
							<th class="text-c">商品明细</th>
							<th class="text-c width_50">库存天数</th>
							<th class="text-c width_100">库存费用({:session("company.currencySymbol")})</th>
							<th class="text-c width_100">服务费({:session("company.currencySymbol")})</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-bg table-border table-bordered">
							<td class="text-c">{$storage_info.consolidatorName}</td>
							<td class="text-c ">{$storage_info.trackingNo}</td>
							<td class="text-c ">{$storage_info.statusTxt}</td>
							<td class="text-l ">{$storage_info.inventory}</td>
							<td class="text-c ">{$storage_info.inventoryDays}天</td>
							<td class="text-r">{:sprintf("%.2f",$storage_info['inventoryCost'])}</td>
							<td class="text-r">{:sprintf("%.2f",$storage_info['serviceCost'])}</td>
						</tr>
						<tr>
							<td colspan="7"></td>
						</tr>
						<tr>
							<td class="text-r select_w_150 va-t">退货原因：</td>
							<td class="text-l" colspan="6">
								<input type="hidden" name="No" value="{$storage_info.trackingNo}" />
								<div class="formControls col-xs-9 col-sm-9 width_400" style="padding-left: 0px;">
									<textarea class="textarea valid width_400" placeholder="说点什么...最少输入10个字符" name="remark" onkeyup="$.Huitextarealength(this,100)"></textarea>
									<label id="beizhu-error" class="error valid width_400" for="beizhu"></label>
									<p class="textarea-numberbar width_400" style="left: -10px; text-align: right;"><em class="textarea-length">0</em>/100</p>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-r select_w_150 va-t">上传单据：</td>
							<td class="text-l" colspan="6">
								<div class="formControls">
									<span class="btn-upload form-group">
									  <input class="input-text upload-url radius" type="text"  id="uploadfile-1" readonly>
										<a href="javascript:void(0);" class="btn btn-primary radius" style="margin-left: 10px;">浏览文件</a>
									  <input type="file" multiple name="uploadFile"  id="upImg" class="input-file">
									</span>
								</div>

							</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="5">
								<div class="clearfix" id="imgList">
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="5">
								<input class="btn btn-warning radius size-L" type="submit" value="提交申请">
								<input type="button" value="取消并返回" class="btn btn-default-outline radius size-L" id="return">
							</td>
						</tr>
					</tbody>
				</table>
				</form>
			</div>
		</div>
	</body>
</html>
<script>
	var returnPackage = "{:U('Package/returnPackage')}";
</script>
<script type="text/javascript" src="__PUBLIC__/lib/H-ui/js/H-ui.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/lib/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/validation/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/validation/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC_JS__/page/returnPackage.js?{:time()}"></script>

