<extend name="Public/base"/>
<block name="container">
    <!-- 访问授权 -->
    <div class="tab-pane in">
        <form action="{:U('auth_menager')}"  method="POST" class="form-horizontal auth-form">
            <volist name="node_list" id="node" >
                <dl class="checkmod">
                    <dt class="hd">
                        <input type="checkbox" name="rules[]" class="rules_all" <if condition="$node.is_check eq 1">checked</if> value="{$node.id}">{$node.title}管理
                    </dt>
                    <dd class="bd">
                        <notempty name="node['children']">
                            <span class="divsion">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </notempty>
                        <present name="node['children']">
                            <volist name="node['children']" id="child" >
                                <label style="display: inline-block">
                                    <input class="auth_rules rules_row" <if condition="$child.is_check eq 1">checked</if> type="checkbox" name="rules[]" value="{$child.id}"/>
                                    {$child.title}
                                </label>&nbsp;&nbsp;
                            </volist>
                        </present>
                    </dd>
                </dl>
            </volist>

            <input type="hidden" name="id" value="{$_GET[id]}" />
            <button type="submit" class="btn submit-btn ajax-post" target-form="auth-form">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </form>
    </div>
    </div>
</block>
<block name="js">

    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script>
        //全选节点
        $('.rules_all').on('change',function(){
            $(this).closest('dl').find('dd').find('input').prop('checked',this.checked);
        });

    </script>
    <script>
        $(function(){
            var winH = $(window).height();
            $('.body_left_bg').css('height',Number(winH)-Number(75));
        })
    </script>
</block>
