
/*header*/
.header{
    padding: 10px;
    background: #FFF
}
.header li{
    float: left;
    margin-right: 6px;
    color: #999
}
/*banner*/
.banner{
    padding: 10px;
    margin-top: 10px;
    background: #FFF
}
.banner-info{
}
.banner-info img{
    height: 80px;
    float: left;
    margin-right: 10px
}
.info-p1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.info-p0{
    float: left;
    color: #999;
    margin-right: 5px;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    padding-top: 2px
}
.info-p2{
    float: right;
    color: red;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    padding-top: 2px
}
.info-p3{
    color: #999;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-top: 30px
}
/*content*/
.content{
    margin-top: 10px;
    background: #FFF
}
.content-title{
    padding: 10px;
    height: 50px
}
.content-title p{
    line-height: 50px;
    color: red
}
.content-title span{
    color: #FFF;
    background: #FFD601;
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: 3px
}
.content-p1{
    line-height: 24px;
    color: #666;
    font-size: 13px
}
.content-1{
    padding: 10px;
    border-bottom: 1px #dcdcdc solid
}
.content-p2{
    font-weight: 600;
}