 <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 munu_1">
         <a href="{:U('Index/index')}"><p class="left_col">首页</p></a>
         <a href="{:U('Slide/index')}"><p class="left_col">轮播</p></a>
         <a href="{:U('Private/index')}"><p class="left_col">权限管理</p></a>
         <a href="{:U('Group/index')}"><p class="left_col">用户组管理</p></a>
         <a href="{:U('Index/set')}"><p class="left_col">店铺设置</p></a>
         <a href="{:U('Index/statistics')}"><p class="left_col">数据统计</p></a>
         <a href="{:U('Withdraw/index')}"><p class="left_col">提现</p></a>
     </div>
</div>