<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>网站后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="__PUBLIC__/new/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/new/css/style.css"/>
    <link href="__PUBLIC__/new/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/font/css/font-awesome.min.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/new/css/style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/css/style.css"/>
    <link rel="stylesheet" href="__PUBLIC__/style/page.css"/>
    <link rel="stylesheet" href="__PUBLIC__/new/Widget/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link href="__PUBLIC__/new/Widget/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-ie.min.css"/>
    <![endif]-->

    <script src="__PUBLIC__/new/js/jquery-1.9.1.min.js"></script>


    <script src="__PUBLIC__/new/assets/js/ace-extra.min.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/new/assets/js/html5shiv.js"></script>
    <script src="__PUBLIC__/new/assets/js/respond.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <!-- <![endif]-->
    <!--[if IE]>

    <![endif]-->

    <script src="__PUBLIC__/new/assets/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/typeahead-bs2.min.js"></script>
    <!--[if lte IE 8]>
    <script src="__PUBLIC__/new/assets/js/excanvas.min.js"></script>
    <![endif]-->
   <script src="__PUBLIC__/new/assets/js/ace-elements.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new/js/H-ui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new/js/H-ui.admin.js"></script>
    <script src="__PUBLIC__/new/js/lrtk.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/new/Widget/zTree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/ace.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/ace-elements.min.js"></script>
    <script src="__PUBLIC__/new/assets/layer/layer.js" type="text/javascript"></script>
    <script src="__PUBLIC__/new/assets/laydate/laydate.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/new/Widget/swfupload/swfupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new/Widget/swfupload/swfupload.queue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new/Widget/swfupload/swfupload.speed.js"></script>
    <script type="text/javascript" src="__PUBLIC__/new/Widget/swfupload/handlers.js"></script>
    <script src="__PUBLIC__/new/js/common.js"></script>
    <style>
        .icon-close:before {
            content: "\f00d";
        }
        #page span.rows {
            margin-right: 5px;
            display: inline-block;
            font-size: 18px;
            font-weight: bolder;
            border: 1px solid #999999;
            color: #999999;
            width: 120px;
            height: 30px;
            text-align: center;
        }
    </style>
</head>