<extend name="Public/base"/>
<block name="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_lists">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action_title">
                <p>评论列表</p>
            </div>
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <tr>
                        <th>序号</th>
                        <th>商品</th>
                        <th>评论内容</th>
                        <th>评论时间</th>
                        <th>评论打分</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <volist name='list' id='v'>
                        <tr>
                            <td>{$i}</td>
                            <td>{$v.goods_name}</td>
                            <td>{$v.content}</td>
                            <td><?php echo date('Y-m-d',$v[add_time]);?></td>
                            <td>{$v.star}</td>
                            <td>
                                <if condition='$v.status eq 1'>显示
                                    <else/>隐藏
                                </if>
                            </td>
                            <td>
                                <if condition='$v.status eq 1'> <a href="{:U('Order/plState',array('id'=>$v[id],'zt'=>0))}">隐藏</a>
                                    <else/> <a href="{:U('Order/plState',array('id'=>$v[id],'zt'=>1))}">显示</a>
                                </if>
                            </td>
                        </tr>
                    </volist>
                </table>
            </div>
        </div>
    </div>
    <if condition="$page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
            {$page}
        </div>
    </if>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script>
        $(function () {
            $('#img').click(function () {
                $('#form').submit();
            })
        })
    </script>
</block>
