<include file="layout/header"/>
<script type="text/javascript" src="__PUBLIC__/lib/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/validation/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/validation/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC_JS__/page/password.js?{:time()}" ></script>

		<div class="panel bg-fff mt-20 mr-20 ml-20 mb-20" style="min-width: 700px;">
			<div class="panel-header">
				<span class="active">登录密码管理</span>
				<span>支付密码管理</span>
			</div>
			<div class="panel-body panel_body_block">
				<form class="form form-horizontal" id="loginPass" novalidate="novalidate">
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20 text-r"><span class="c-red">*</span>当前密码：</label>
						<div class="formControls col-xs-9 col-sm-9 w-300">
							<input type="hidden" name="type" value="loginPass">
							<input type="password" name="oldPassword" class="input-text" value="" placeholder="">

						</div>
						<span class="f-18 lh-30 seach_btn_onpage" style="display: inline-block"><i class="f-l Hui-iconfont Hui-iconfont-niming"></i></span>
					</div>
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20 text-r"><span class="c-red">*</span>新密码：</label>
						<div class="formControls col-xs-9 col-sm-9">
							<input type="password" id="password" class="input-text" style="width: 270px;" maxlength="20" name="password" value="" placeholder="">
							<p class="lh-24 c-999" style="margin: 0px;">密码由8-20个字符组成，区分大小写，请使用字母、数字和特殊符号中的两种及以上的组合</p>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20 text-r">密码强度：</label>
						<div class="formControls col-xs-4 col-sm-5">
							<div class="progress" style="margin-top:10px">
								<div class="progress-bar">
									<span class="sr-only" style="width:33%;background: #efefef;"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20 text-r"><span class="c-red">*</span>确认密码：</label>
						<div class="formControls col-xs-4 col-sm-5 w-300">
							<input type="password" class="input-text" name="checkPassword" value="" placeholder="">
						</div>
					</div>
			
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20"></label>
						<div class="formControls col-xs-8 col-sm-9">
							<button class="btn btn-warning radius size-L" type="submit">保存密码</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-body panel_body_none">
				<form class="form form-horizontal" id="payPass" novalidate="novalidate">
					<div class="row cl noFirst">
						<label class="form-label select_w_150 f-l pl-20 text-r"><span class="c-red">*</span>原支付密码：</label>
						<div class="formControls col-xs-4 col-sm-5 w-300">
							<input type="password" class="input-text" name="oldPassword" value="" placeholder="">
							<input type="hidden" name="type" value="payPass">
							<input type="hidden" name="isFirst" value="{$isFirst}">
						</div>
						<span class="f-18 lh-30 seach_btn_onpage" style="display: inline-block">
							<i class="f-l Hui-iconfont Hui-iconfont-niming"></i>
							<a class="f-12 ml-10" href="{:U('Login/forgetPay')}" target="_blank">忘记密码?</a>
						</span>
					</div>
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20 text-r"><span class="c-red">*</span>新支付密码：</label>
						<div class="formControls col-xs-4 col-sm-5 w-300">
							<input type="password" class="input-text" id="payPassword" name="password" value="" placeholder="">
							<p class="lh-24 c-999" style="margin: 0px;">密码由6位数字组成</p>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20 text-r"><span class="c-red">*</span>确认支付密码：</label>
						<div class="formControls col-xs-4 col-sm-5 w-300">
							<input type="password" class="input-text" name="checkPassword"  placeholder="">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label select_w_150 f-l pl-20"></label>
						<div class="formControls col-xs-8 col-sm-9">
							<button class="btn btn-warning radius size-L"  type="submit">保存密码</button>
						</div>
					</div>
				</form>
			</div>
		</div>
<script type="text/javascript">
	var active="{$_GET['active']}";
</script>
<include file="layout/footer"/>
