body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, "微软雅黑", Tahoma, sans-serif;
background: #e1e1e1;
}

ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

.fl {
    overflow: hidden;
}

.clear_padding {
    padding-right: 0px;

}
a{
    text-decoration:none!important;
    color: #000000;
}
a:hover{
   color: #000;
}
/*医生信息*/
.doctor_info {
    padding: 15px;
    border-bottom: 2px solid #e4e4e4;
    background: #fff;
}

.top {
    padding-top: 5px;
}

.doctor_name {
    line-height: 22px;
}

.state {
    width: 50px;
    font-size: 12px;
    padding: 3px 0 3px 0;
    background: #F3F7F6;
    border-radius: 3px;
    margin-left: 10px;
}

.state_tx {
    color: #979797;
    margin-left: 4px;
    margin-top: 1px;
}

.state_img {
    width: 16px;
    margin-left: 2px;
}

.collect {
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}

.collect_tx {
    font-size: 12px;
    color: #A0A0A0;
    padding-left: 5px;
}

.content {
    padding: 3px 0 5px 0;
}

.classfiy {
    font-size: 12px;
    color: #A6A6A6;
}

.bottom {
    font-size: 12px;
    color: #A6A6A6;
}
.evaluate_number{
    color: #E66F4A;
}
.a{
    color: #8C8D91;
}
.a:hover{
    color: #8C8D91;
    text-decoration: none;
}

.b{
    color: #3CC83C;
}
.b:hover{
    color: #3CC83C;
    text-decoration: none;
}

.right{
    width: 30px;
    margin-top: 20px;
}

/*是否认证*/
.right_tx{
    line-height: 27px;
}
.right_img{
    width: 20px;
    margin-top: 3px;
}
/*医生简介*/
.summary_content {
    padding-top: 15px;

    background: #fff;
    margin-top: 5px;
}

.summary {
    background: #26B4E9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.summary_img {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 3px;
}

.summary_tx {
    font-size: 16px;
    color: #393939;
    line-height: 25px;
    padding-left: 10px;
}

.summary_content_tx {
    padding: 0 0 0 15px;
}

.spread {
    color: #27C127;
}

/*教育背景*/
.school_content{
    padding: 10px 15px 15px 15px;
}
.school{
    padding-top: 5px;
    color: #666666;
}

.picture_consulting_bottom {
    font-size: 12px;
    color: #A0A0A0;
    padding-top: 5%;
}

.bespoke {
    padding-top: 10px;
    padding-bottom: 10px;
}



/*文本域设置*/

.text_field_content {
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    border: none;
}

/*保存按钮*/
.button{
    width: 80%;
    padding: 10px;
    background: #F79A22;
    outline: none;
    border: none;
    color: #ffffff;
    display:block;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}