body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, "΢���ź�", Tahoma, sans-serif;
    background: #EEEEEE;
}

ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

.fl {
    overflow: hidden;
}

a {
    text-decoration: none !important;
}


/*ͷ��*/
.user_head{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFf;
    margin-top: 10px;
}

.head_img{
    border-bottom: 1px solid #EEEEEE;
}
.user_tx{
    line-height: 60px;
    color: #000000;
}
.user_img{
    width: 60px;
}


.user_name{
    padding-top: 10px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
}
.right_img{
    width: 18px;
}
.man{
    line-height: 20px;
    padding-left: 5px;
}
.ipt{
    outline: none;
    border: none;
    text-align: right;
}

.user_iphone{
    padding-top: 10px;
}
.button{
    width: 80%;
    display: block;
    margin: auto;
    outline: none;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #FF9F37;
    margin-top: 30px;
    border-radius: 5px;
}
.fileInputContainer{
    background:url("../img/ic_public_add.png")no-repeat;
    background-size: 100% 100%;
    position:relative;
    width: 40px;
    height: 40px;
}
.fileInput{
    overflow: hidden;
    font-size: 300px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor:pointer;
    width: 60px;
    height: 60px;
}
.add_img{
    width: 60px;
    height: 60px;
}
.add_content{
    padding: 10px 10px 0 10px;
    height: 50px;
}
