body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, "微软雅黑", Tahoma, sans-serif;
    background: #EEEEEE;
}

ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

.fl {
    overflow: hidden;
}

a{
    text-decoration: none!important;
}

.names{
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
}


.top{
    background: #ffffff;
    margin-top: 10px;
}

.clear_br{
    border-bottom: none;
}

/*图标大小*/
.names_img{
    width: 25px;
    height: 25px!important;
}
.ipt{
    line-height: 25px;
    padding-left: 10px;
    width: 80%;
}
.authentication{
    line-height: 25px;
    padding-left: 10px;
    color: #a9a9a9
}

.authentication_tx{
    line-height: 25px;
    color: #FFFFFF;
    padding: 0 5px 0 5px;
    background: #F79A22;
    font-size: 12px;
    border-radius:5px
}
.down{
    width: 15px;
    margin-top: 9px;
}


/*提交按钮*/
.button{
    width: 80%;
    padding: 10px;
    background: #F79A22;
    outline: none;
    border: none;
    color: #ffffff;
    display:block;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*下拉菜单*/
.select {
    margin-top: 0px;
    outline: none;
    border-radius: 4px;
    position: relative;
    height: 20px;
    text-align: center;
    padding-left: 10px;
    color: #a9a9a9;
    width: 90%;

}

.text {
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-size: 14px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #333333;
    border-radius: 4px;
    height: 20px;
    color: #a9a9a9;
    width: 90%;

}