<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>支付成功</title>

    <link href="__PUBLIC__/doctor/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/doctor/css/payment_success.css"/>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" align="center">
            <div class="fl page">
                <div class="success_img lf">
                    <img src="__PUBLIC__/doctor/img/payment-succes.png" class="img-responsive" style="display: block" alt="" style="width:20px;height:20px;"/>
                </div>
                <div class="success_tx lf">支付成功</div>
            </div>
            <div class="txt">
                你已成功向该医生表达了自己的心意
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 consultation_btn" align="center">
            <a href="{:U('Index/my_doctor')}" style="text-decoration: none">
                <button class="consultation">返回</button>
            </a>
        </div>
    </div>
</div>
<script src="__PUBLIC__/doctor/js/jquery-1.11.3.js"></script>

<script src="__PUBLIC__/doctor/js/bootstrap.js"></script>

</body>

</html>