<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>提现</title>

    <link href="__PUBLIC__/sick/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/newuser/css/recharge.css"/>

</head>

<body>
<table class="table table-bordered">
    <caption>提现用户信息</caption>
    <thead>
    <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>提现金额</th>
        <th>余额</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Tanmay</td>
        <td>Bangalore</td>
        <td>560001</td>
        <td>560001</td>
        <td>560001</td>
    </tr>

    </tbody>
</table>
<script src="../js/jquery-1.11.3.js"></script>

<script src="../js/bootstrap.js"></script>

</body>

</html>