<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>支付宝账号</title>

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/withdraw_deposit.css"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="sum" style="padding-left: 0">支付宝账户</span></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 content">
            <div class="img lf">
                <img src="../img/zhifubao.png" class="img-responsive" alt=""/>
            </div>
            <div class="tx lf">
                <div class="number"style="line-height: 40px">18717362915</div>
            </div>
        </div>
    </div>
    <a href="Alipay.html" style="text-decoration: none">
        <button class="button">修改</button>

    </a>
</div>
<script src="../js/jquery-1.11.3.js"></script>

<script src="../js/bootstrap.js"></script>

</body>

</html>