<extend name="Public/base"/>
<block name="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  shop_right">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                        <div class="row">
                            <a href="javascript:">
                                <p class="shop_right_color">
                                    修改列表
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
                        <form class="form-horizontal" method="post" id="user-editor" enctype="multipart/form-data" action="{:U('User/index')}">
                            <div class="row form-group">
                                
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <!--<p><input class="shop_search_input" placeholder="输入用户名关键字" name="user_name" type="text"> <button>搜索</button></p>-->
<!--                                    <button>添加数据</button>-->

                            <a href="{:U('User/doctorlist')}"><button type="button" class="btn btn-primary">返回医生列表</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shop_list">
                <div class="row">
                    <form action='__SELF__' method="post" >
                    
                    <table class="table table-bordered">
                        <tr class="text-left">
                          <td class="active text-center">姓名</td>
                          <td class="active"><input type="text" name="username" value="{$info['username']}" /></td>
                        </tr>
                        <!--<tr class="text-left">-->
                            <!--<td class="active">头像</td>->
                            <!--<td class="active"><input type="file" name="image" /></td>-->
                        <!--</tr>-->

                        <tr class="text-left">
                          <td class="active text-center">性别</td>
                          <td class="active">
                              <if condition="$info['sex'] eq 0">
                                  <input type="radio" name="sex"  value="0" checked="checked" />男
                                  <input type="radio" name="sex"  value="1"  />女
                               <else />
                                  <input type="radio" name="sex"  value="0"  />男
                                  <input type="radio" name="sex"  value="1" checked="checked" />女
                              </if>
                          </td>
                        </tr>
                       <tr class="text-left">
                          <td class="active text-center">科室</td>
                          <td class="active">
                              <!--<input type="text" name="office" value="{$info['office']}" />-->
                              <select name="office">
                                     <volist name="catinfo" id="vo">
                                        <option value="{$vo.id}" <if condition="$info['office'] eq $vo['id']">selected="selected"</if> >{$vo.catname}</option>
                                      </volist>
                              </select>

                          </td>
                        </tr>

                        <tr class="text-left">
                          <td class="active text-center">执业编号</td>
                          <td class="active"><input type="text" name="practice" value="{$info['practice']}" /></td>
                        </tr>
                        
                         <tr class="text-left">
                          <td class="active text-center">医生级别</td>
                          <td class="active">
                              <!--<input type="text" name="rank"  value="{$info['rank']}" />-->
                              <if condition="$info['rank'] eq 1">
                                      <input type="radio" name="rank" value="1" checked="checked">初级&nbsp;&nbsp;
                                      <input type="radio" name="rank" value="2" >中级&nbsp;&nbsp;
                                      <input type="radio" name="rank" value="3" >高级
                                  <elseif condition="$info['rank'] eq 2">
                                      <input type="radio" name="rank" value="1" >初级&nbsp;&nbsp;
                                      <input type="radio" name="rank" value="2" checked="checked" >中级&nbsp;&nbsp;
                                      <input type="radio" name="rank" value="3" >高级
                                  <else />
                                      <input type="radio" name="rank" value="1" >初级&nbsp;&nbsp;
                                      <input type="radio" name="rank" value="2"  >中级&nbsp;&nbsp;
                                      <input type="radio" name="rank" value="3" checked="checked" >高级
                              </if>
                          </td>
                        </tr>
                        
                        <tr class="text-left">
                          <td class="active text-center">联系方式</td>
                          <td class="active"><input type="text" name="iphone"  value="{$info['iphone']}" /></td>
                        </tr>


                        <!--//后加的字段-->
                        <tr class="text-left">
                            <td class="active text-center">服务费用</td>
                            <td class="active"><input type="text" name="serverprice"  value="{$info['serverprice']}" />元</td>
                        </tr>
                       <!-- <tr class="text-left">
                            <td class="active text-center">应答时间</td>
                            <td class="active"><input type="text" name="responsetime"  value="{$info['responsetime']}" /></td>
                        </tr>-->
                        <tr class="text-left">
                            <td class="active text-center">服务人数</td>
                            <td class="active"><input type="text" name="servernum"  value="{$info['servernum']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">评价人数</td>
                            <td class="active"><input type="text" name="evaluatenum"  value="{$info['evaluatenum']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">综合评分</td>
                            <td class="active"><input type="text" name="zscore"  value="{$info['zscore']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">图文咨询费用</td>
                            <td class="active"><input type="text" name="tuwenpirce"  value="{$info['tuwenpirce']}" />元</td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">预约就诊费用</td>
                            <td class="active"><input type="text" name="orderprice"  value="{$info['orderprice']}" />元</td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">关注人数</td>
                            <td class="active"><input type="text" name="attentionnum"  value="{$info['attentionnum']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">购买服务次数</td>
                            <td class="active"><input type="text" name="buyservernum"  value="{$info['buyservernum']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">接收咨询人数</td>
                            <td class="active"><input type="text" name="receiveconsultnum"  value="{$info['receiveconsultnum']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">学历</td>
                            <td class="active"><input type="text" name="education"  value="{$info['education']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">邮箱</td>
                            <td class="active"><input type="text" name="mailbox"  value="{$info['mailbox']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">专业</td>
                            <td class="active"><input type="text" name="major"  value="{$info['major']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">资格证编号</td>
                            <td class="active"><input type="text" name="qualification"  value="{$info['qualification']}" /></td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">身份证号</td>
                            <td class="active"><input type="text" name="identity"  value="{$info['identity']}" /></td>
                        </tr>
                        <tr class="text-left" >
                            <td class="active text-center">执照图片</td>
                            <td class="active img-responsive" >
                                <img src="__ROOT__/Uploads/{$info['licenseimg']}" alt="执照图片" style="width: 80px;height: 80px" id="tupian01">
                                <!--<input type="file" name="licenseimg"  />-->
                            </td>
                        </tr>
                        <!--<tr class="text-left">
                            <td class="active text-center">接受治疗的患者</td>
                            <td class="active"><input type="text" name="acceptsick_id"  value="{$info['acceptsick_id']}" /></td>
                        </tr>-->

                        <tr class="text-left">
                            <td class="active text-center">是否认证</td>
                            <td class="active">
                                <if condition="$info['is_attestation'] eq 1">
                                    <input type="radio" name="is_attestation" value="1" checked style="margin-left: 10px" />是
                                    <input type="radio" name="is_attestation" value="1" style="margin-left: 10px"/>否
                                    <else />
                                    <input type="radio" name="is_attestation" value="1" style="margin-left: 10px" />是
                                    <input type="radio" name="is_attestation" value="1" checked style="margin-left: 10px" />否
                                </if>
                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">免费咨询状态</td>
                            <td class="active">
                                <if condition="$info['freeconsult'] eq 1">
                                        <input type="radio" name="freeconsult" value="1" checked /> 免费
                                        <input type="radio" name="freeconsult" value="2"  /> 不免费
                                    <else />
                                        <input type="radio" name="freeconsult" value="1"  /> 免费
                                        <input type="radio" name="freeconsult" value="2" checked /> 不免费
                                </if>
                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">图文咨询设置</td>
                            <td class="active">

                                <if condition="$info['is_picture'] eq 1">
                                    <input type="radio" name="is_picture"  value="1" checked  />开启
                                    <input type="radio" name="is_picture"  value="2" />关闭
                                    <else />
                                    <input type="radio" name="is_picture"  value="1" />开启
                                    <input type="radio" name="is_picture"  value="2" checked />关闭
                                </if>
                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="active text-center">预约咨询设置</td>
                            <td class="active">

                        <if condition="$info['is_orderstatus'] eq 1">
                                <input type="radio" name="is_orderstatus"  value="1" checked  />开启
                                <input type="radio" name="is_orderstatus"  value="2" />关闭
                            <else />
                                <input type="radio" name="is_orderstatus"  value="1" />开启
                                <input type="radio" name="is_orderstatus"  value="2" checked />关闭
                        </if>
                            </td>
                        </tr>

                        <!--<tr class="text-left">
                                                    <td class="active text-center">二维码</td>
                                                    <td class="active">
                                                        <input type="file" name="twocode"  />
                                                    </td>
                                                </tr>-->

                        <!--//后加的字段-->

                         <tr class="text-left">
                          <td class="active text-center">擅长领域</td>
                          <td class="active">
                               <textarea rows="3"  name='speciality' class="form-control">{$info['practice']}</textarea>
                          </td>
                        </tr>
                        <tr class="text-left">
                          <td class="active text-center">个人简介</td>
                          <td class="active">
                               <textarea rows="3"  name='intro' class="form-control" style="text-align: left;">{$info['intro']}</textarea>
                          </td>
                        </tr>
<!--                        <tr class="text-left">
                          <td class="active">添加时间</td>
                          <td class="active"><input type="text" name="addtime" /></td>
                        </tr>-->

                    <tr class="text-center">
                         <td class="active" colspan="2"><input type='submit' value='提&nbsp;&nbsp;&nbsp;交' class="btn btn-success btn-lg btn-block"></td>
                    </tr>

                    </table>


                    </form>
                </div>
            </div>
         <!--   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center" id="page" style="margin-top: 20px;">
                {$page}
            </div>-->
        </div>
</block>
<br />
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>
    <script>
        $("#tupian01").hover(
               function(){
                    $(this).animate({'width':'500px','height':'500px'})
                },
                function(){
                    $(this).animate({'width':'80px','height':'80px'})
                }
        )
    </script>
</block>