<extend name="Public/base"/>
<block name="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="border-bottom white-bg dashboard-header">
            <div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p style="font-size: 20px; margin-top: 25px;">分类管理</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 20px;">
                        <a href="{:U('User/specialtyadd')}">
                            <!--<button type="button" class="btn btn-default pull-right issued_pro">添加分类</button>-->
                            <button type="button" class="btn btn-primary">添加分类</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-12" style="border:1px solid #eeeeee; padding-top: 20px; margin-top: 10px;">
                <table class="table table-hover table-mail">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>


                    <tr level="1">
                        <th>分类ID</th>
                        <th>分类名称</th>
                        <!--<th style="text-align: center;">医生列表</th>-->
                        <th width="60">操作</th>
                    </tr>

                   <volist name="category" id="vo">
                    <tr level="1">

                        <td>{$vo.id}</td>
                        <td>{$vo.catname}</td>
                        <!--<td></td>-->
                        <td><a href="{:U('User/specialtyedit',array('id'=> $vo['id']))}"><span class="label btn-warning">修改</span></a>&nbsp;&nbsp;</a> <a href="{:U('User/specialtydel',array('id'=> $vo['id']))}"><span class="label btn-danger" >删除</span></a>&nbsp;&nbsp;</a></td>

                    </tr>
                    </volist>


                </table>
            </div>
        </div>
    </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/script/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('tr[level!=1]').hide();
            $('.open').click(function(){
                var index=$(this).parents('td').attr('id');
                var sign=$(this).html();
                if(sign=='+'){
                    $(this).html('-');
                    $('tr[pid='+index+']').show();
                }else{
                    $(this).html('+');
                    $('tr[pid='+index+']').hide();
                }
            });
        });
    </script>
</block>
