<extend name="Public/base"/>
<block name="container">
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{:U('Bbs/activity_editor')}">
            <input type="hidden" name="id" value="{$list.id}">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border:1px solid #eeeeee;">
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">标题:</label>
                            <div class="col-lg-4">
                                <input type="text"  class="form-control" value="{$list.title}" name="title" required>
                            </div>
                            <span class="col-lg-5 height-center text-danger">标题不能为空</span>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">开始时间:</label>
                            <div class="col-lg-4">
                                <input type="text"  class="form-control" value="{$list.begin_time}" name="begin_time" required>
                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">结束时间:</label>
                            <div class="col-lg-4">
                                <input type="text"  class="form-control" value="{$list.end_time}" name="end_time" required>
                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">价格:</label>
                            <div class="col-lg-4">
                                <input type="text"  class="form-control" value="{$list.price}" name="price" required>
                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">地址:</label>
                            <div class="col-lg-4">
                                <input type="text"  class="form-control" value="{$list.address}" name="address" required>
                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">人数:</label>
                            <div class="col-lg-4">
                                <input type="text"  class="form-control" value="{$list.people_num}" name="people_num" required>
                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;">
                        <div class="form-group add_pro_list">
                            <label class="col-lg-3 control-label">图片:</label>
                            <div class="col-lg-4">
                                <foreach name="list['thumb']" item="vo">
                                    <img src="__ROOT__/{$vo}" alt="" style="height: 100px; margin-right: 20px; margin-bottom: 10px;">
                                </foreach>
                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group add_pro_list">
                        <label class="col-lg-3 control-label">商品图片:</label>
                        <div class="col-lg-1">
                            <div class="fileInput left" id="upload-container" >
                                <input type="file" multiple name="img[]" id="upload"  class="upfile uplo" />
                                <input class="upFileBtn uplo"  type="button" value="上传图片" onclick="document.getElementById('upload').click()" />
                            </div>
                        </div>
                        <div class="col-lg-8 height-center text-danger" id="show_img">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group add_pro_list">
                                <label class="col-lg-3 control-label">内容:</label>
                                <div class="col-lg-5">
                                    <textarea name="content" style=" width: 100%;" rows="8">{$list.content}</textarea>
                                </div>
                                <span class="col-lg-4 height-center text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group ">
                            <label class="col-lg-3 control-label">状态:</label>
                            <div class="col-lg-4">
                                <if condition="$list['status'] eq 1">
                                    <input type="radio" checked value="1" name="status" style="margin-top: 10px;">正常
                                    <input type="radio" value="0" name="status" style="margin-top: 10px;">冻结
                                    <else/>
                                    <input type="radio"  value="1" name="status" style="margin-top: 10px;">正常
                                    <input type="radio" checked value="0" name="status" style="margin-top: 10px;">冻结
                                </if>

                            </div>
                            <span class="col-lg-5 height-center text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-4">
                            <button class="btn btn-sm btn-success" type="submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/script/jquery-2.1.4.min.js"></script>
    <script>
        $('.uplo').click(function(){
            $('#show_img').html('');
        })
        $('.uplo').on('change',function (event)
        {
            // console.log(event.target.files);
            var allLen=event.target.files.length;
            if(allLen > 5){
                alert('上传图片不能大于5张');
                return false;
            }
            var html = "";
            html+='<div style="margin: 5px; height: 80px;">';
            for(var i=0; i<allLen; i++){
                var tmppath = URL.createObjectURL(event.target.files[i]);
                html+='<img src="'+tmppath+'" style="width: 75px; height: 75px; margin-right:20px;" >';
            }
            html+='</div>';
            $("#show_img").html(html);
        });
    </script>
</block>

