<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>网站后台管理系统  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="__PUBLIC__/new/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/new/css/style.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__PUBLIC__/new/assets/css/ace-ie.min.css" />
    <![endif]-->
    <script src="__PUBLIC__/new/assets/js/ace-extra.min.js"></script>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/new/assets/js/html5shiv.js"></script>
    <script src="__PUBLIC__/new/assets/js/respond.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script src="__PUBLIC__/new/js/jquery-1.9.1.min.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">window.jQuery || document.write("<script src='__PUBLIC__/new/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");</script>
    <![endif]-->
    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='__PUBLIC__/new/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
    </script>
    <script src="__PUBLIC__/new/assets/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/typeahead-bs2.min.js"></script>
    <!--[if lte IE 8]>
    <script src="__PUBLIC__/new/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/new/assets/js/ace-elements.min.js"></script>
    <script src="__PUBLIC__/new/assets/js/ace.min.js"></script>
    <script src="__PUBLIC__/new/assets/layer/layer.js" type="text/javascript"></script>
    <script src="__PUBLIC__/new/assets/laydate/laydate.js" type="text/javascript"></script>
    <script src="__PUBLIC__/new/assets/dist/echarts.js"></script>
    <script src="__PUBLIC__/new/js/common.js"></script>
</head>
<body>
<include file="Public/navbar" />

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="Public/column" />


        <div class="main-content">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>
                    <li class="active"><span class="Current_page iframeurl"></span></li>
                    <li class="active" id="parentIframe"><span class="parentIframe iframeurl"></span></li>
                    <li class="active" id="parentIfour"><span class="parentIfour iframeurl"></span></li>
                </ul>
            </div>
            <div class="page-content clearfix">
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                    <i class="icon-ok green"></i>欢迎使用<strong class="green">后台管理系统<small>(v1.2)</small></strong>,你本次登陆时间为{$Think.session.mj_login_time}
                </div>
                <div class="state-overview clearfix" style="height: 118px">
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <a href="#" title="商城会员">
                                <div class="symbol terques">
                                    <i class="icon-user"></i>
                                </div>
                                <div class="value">
                                    <h1>34522</h1>
                                    <p>商城用户</p>
                                </div>
                            </a>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol red">
                                <i class="icon-tags"></i>
                            </div>
                            <div class="value">
                                <h1>140</h1>
                                <p>分销记录</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol yellow">
                                <i class="icon-shopping-cart"></i>
                            </div>
                            <div class="value">
                                <h1>345</h1>
                                <p>商城订单</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <section class="panel">
                            <div class="symbol blue">
                                <i class="icon-bar-chart"></i>
                            </div>
                            <div class="value">
                                <h1>￥34,500</h1>
                                <p>交易记录</p>
                            </div>
                        </section>
                    </div>
                </div>
                <!--实时交易记录-->
                <div class="clearfix">
                    <div class="t_Record" style="width: 1393px!important;">
                        <div id="main" style="height:300px; overflow:hidden; width:100%; overflow:auto" ></div>
                    </div>
                    <div class="news_style">
                        <div class="title_name">最新消息</div>
                        <ul class="list">
                            <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>
                            <li><i class="icon-bell red"></i><a href="#">6月共处理订单3451比，作废为...</a></li>
                            <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>
                            <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>
                            <li><i class="icon-bell red"></i><a href="#">后台系统找那个是开通了。</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>


        <include file="Public/skin" />


    </div>

</div>
<!--底部样式-->

<include file="Public/footer" />

<!-- /.main-container -->
<!-- basic scripts -->
<script type="text/javascript">
    //							$(document).ready(function(){
    //
    //								$(".t_Record").width($(window).width()-320);
    //								//当文档窗口发生改变时 触发
    //								$(window).resize(function(){
    //									$(".t_Record").width($(window).width()-320);
    //								});
    //							});


    require.config({
        paths: {
            echarts: '__PUBLIC__/new/assets/dist'
        }
    });
    require(
            [
                'echarts',
                'echarts/theme/macarons',
                'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
                'echarts/chart/bar'
            ],
            function (ec,theme) {
                var myChart = ec.init(document.getElementById('main'),theme);
                option = {
                    title : {
                        text: '月购买订单交易记录',
                        subtext: '实时获取用户订单购买记录'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['所有订单','待付款','已付款','代发货']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'所有订单',
                            type:'bar',
                            data:[120, 49, 70, 232, 256, 767, 1356, 1622, 326, 200,164, 133],
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            }
                        },
                        {
                            name:'待付款',
                            type:'bar',
                            data:[26, 59, 30, 84, 27, 77, 176, 1182, 487, 188, 60, 23],
                            markPoint : {
                                data : [
                                    {name : '年最高', value : 1182, xAxis: 7, yAxis: 1182, symbolSize:18},
                                    {name : '年最低', value : 23, xAxis: 11, yAxis: 3}
                                ]
                            },


                        }
                        , {
                            name:'已付款',
                            type:'bar',
                            data:[26, 59, 60, 264, 287, 77, 176, 122, 247, 148, 60, 23],
                            markPoint : {
                                data : [
                                    {name : '年最高', value : 172, xAxis: 7, yAxis: 172, symbolSize:18},
                                    {name : '年最低', value : 23, xAxis: 11, yAxis: 3}
                                ]
                            },

                        }
                        , {
                            name:'代发货',
                            type:'bar',
                            data:[26, 59, 80, 24, 87, 70, 175, 1072, 48, 18, 69, 63],
                            markPoint : {
                                data : [
                                    {name : '年最高', value : 1072, xAxis: 7, yAxis: 1072, symbolSize:18},
                                    {name : '年最低', value : 22, xAxis: 11, yAxis: 3}
                                ]
                            },

                        }
                    ]
                };

                myChart.setOption(option);
            }
    );
</script>

</body>
</html>
<script>
    $(".t_Record").css("width","1393px")
</script>

