<extend name="Public/base"/>
<block name="container">
    <div class="row">
        <table class="table table-bordered">
            <tr class="text-center">
                <td class="warning">店铺名</td>
                <td class="warning">LOGO</td>
                <td class="warning">分类</td>
                <td class="warning">添加时间</td>
                <td class="warning">状态</td>
                <td class="warning">操作</td>
            </tr>
            <volist name="shop" id="v">
                <tr class="text-center">
                    <td class="active">{$v.shop_name}</td>
                    <td class="active"><img src="__ROOT__/{$v.shop_logo}" alt="" style="height: 30px;"></td>
                    <td class="active">{$v.cat_name}</td>
                    <td class="active"><?php echo date('Y-m-d',$v[add_time]);?></td>
                    <td class="active">正常</td>
                    <td class="active">
                        <a href="{:U('Shop/editor',array('id'=>$v[id]))}">编辑</a>
                        删除
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</block>
<block name="js">


</block>

