<include file="layout/header"/>
<script type="text/javascript" src="__PUBLIC_JS__/battery/deploy.js?{:time()}"></script>
<!--bootstrap table 引入-->
<link rel="stylesheet" href="__PUBLIC__/css/layout/table_boot.css"/>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrapTable/bootstrap-table.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrapTable/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrapTable/bootstrap-table-zh-CN.min.js"></script>
		<div class="panel bg-fff mt-20 mr-20 ml-20 mb-20">
			<div class="panel-header">
				<span class="active">BMS配置</span>
			</div>
			<div class="panel-body panel_body_block">
				<form class="form form-horizontal" id="form-article-add" novalidate="novalidate">
					<div class="row cl clearfix">
						<div class="f-l">
							<label class="f-l text-r form-label select_w_150">订单来源：</label>
							<div class="f-l w-200">
								<span class="select-box select_w_150">
									<select name="platformCode" class="select">
										<option value="">全部</option>
										<foreach name="platform" item="vo">
											<option value="{$vo.platformCode}">{$vo.platformName}</option>
										</foreach>
									</select>
								</span>
							</div>
						</div>
						<div class="f-l">
							<label class="f-l text-r form-label select_w_150">状态：</label>
							<div class="f-l w-200">
								<span class="select-box select_w_150">
									<select name="status" class="select">
										<option value="">全部</option>
										<option value="1">启用</option>
										<option value="0">禁用</option>
									</select>
								</span>
							</div>
						</div>
						<div class="f-l ml-20">
							<button class="btn btn-primary size-M" onclick="reloadTable('table')" type="button">查询</button>
							<button class="btn btn-warning size-M" onclick="resetTable(this,'table')" type="button">重置</button>
						</div>
					</div>
					
				</form>
			</div>
			<div class="panel-body panel_body_block">
				<div class="clearfix mt-20" style="border: 1px solid #ddd;">
					<div id="toolbar" style="text-align: right;">
						<button class="btn btn-default size-S" onclick="deployAdd()">新增</button>
					</div>
					<table id="table"></table>
				</div>
				<script type="text/javascript">
					var deploy_url="{:U('BatterySystem/deploy')}",
                        deploy_add_url="{:U('BatterySystem/deployAdd')}",
						deploy_update_url="{:U('BatterySystem/deployUpdate')}";
				</script>
			</div>
			
		</div>
<include file="layout/footer"/>