.apply {
    padding-top: 10px;
}

.number {
    font-size: 18px;
    line-height: 34px;
    padding-right: 10px
}

.money {
    padding-right: 28px;
    font-size: 18px;
    line-height: 34px
}

.button {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FF9F37;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 30px;

}