body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, "微软雅黑", Tahoma, sans-serif;
    background: #F5F5F5;

}

ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

.fl {
    overflow: hidden;
}

a {
    color: #666;
}

a {
    color: #666;
}

a:hover {
    color: #666;
}

/*顶部导航栏*/
.top_nav {
    background: #ffffff;
}

.top_nav_content li {
    padding: 15px 0px 15px 0px;
    color: #000000;
    width: 33%;
    text-align: center;
}

.current {
    color: #5DC64C !important;
    border-bottom: 2px solid #5DC64C;
}

.clear_padding {
    padding-right: 0px;
    padding-left: 0px;
}

/*我的医生信息*/
.doctor_info {
    padding: 15px;

}

.top {
    padding-top: 5px;
}

.doctor_name {
    line-height: 22px;
}

.state {
    width: 50px;
    font-size: 12px;
    padding: 3px 0 3px 0;
    background: #F3F7F6;
    border-radius: 3px;
    margin-left: 10px;
}

.state_tx {
    color: #979797;
    margin-left: 4px;
    margin-top: 1px;
}

.state_img {
    width: 16px;
    margin-left: 2px;
}

.collect {
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}

.collect_tx {
    font-size: 12px;
    color: #DA7776;
}

.content {
    padding: 3px 0 5px 0;
}

.classfiy {
    font-size: 12px;
    color: #A6A6A6;
}

.bottom {
    font-size: 12px;
    color: #A6A6A6;
}

/*右侧信息*/
.doctor_right_br {
    border: 1px solid #e7e7e7;
    background: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.admit {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 10px 0 10px 0;
}

.admit_page {
    width: 280px;
    margin: auto
}

.number_color {
    color: #5BC54B;
}

.info_admit {
    width: 25%;
    text-align: center;
    float: left;
    padding-left: 10px;
}

/*页面背景*/
.doctor_page {
    background: #EFFDF3;
    border-radius: 7px;
    margin-top: 10px;
}

/*聊天 评价 按钮*/
.button {
    padding-top: 20px;
}

.chat_btn {
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #D1D3D1;
    display: block;
}

.delete_btn {
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #D1D3D1;
    line-height: 26px;
    display: block;
    padding-left: 7px;
    padding-right: 7px;

}

.delete_img {
    width: 20px;
}

/*送心意*/
.purpose {
    color: #F93446;
    border: 1px solid #5DC64C;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

/*媒体查询*/
@media screen and (min-width: 320px) {
    .doctor_info_content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn_left {
        padding-right: 3px;
        padding-left: 1px;
    }

    .bt {
        padding-left: 0px;
    }

    .delete_btn {
        line-height: 27px;
    }

}

@media screen and (min-width: 360px) {
    .doctor_info_content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn_left {
        padding-right: 15px;
    }

    .bt {
        padding-left: 7px;
    }
}

@media screen and (min-width: 375px) {
    .doctor_info_content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 384px) {
    .doctor_info_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn_left {
        padding-right: 20px;
    }

    .bt {
        padding-left: 7px;
    }
}

@media screen and (min-width: 411px) {
    .doctor_info_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn_left {
        padding-right: 30px;
    }

    .bt {
        padding-left: 7px;
    }
}

@media screen and (min-width: 412px) {
    .doctor_info_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn_left {
        padding-right: 30px;
    }

    .bt {
        padding-left: 7px;
    }
}

@media screen and (min-width: 414px) {
    .doctor_info_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn_left {
        padding-right: 30px;
    }

    .bt {
        padding-left: 7px;
    }
}

@media screen and (min-width: 435px) {
    .doctor_info_content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn_left {
        padding-right: 40px;
    }

    .bt {
        padding-left: 7px;
    }
}







